{% extends 'base.html.twig' %}

{% block title %}UniFolio - Nouveau CV{% endblock %}
    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}
{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_cv') }}">Bibliothèque de cv</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edition CV</li>
        </ol>
    </nav>
    <div class="container">
        <section class="cv_form">
            <div class="row">
                <article class="col-lg-5 col-12">
                    <h2>Modifier {{ cv.intitule }}</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {{ form_end(form) }}
                </article>
            </div>
        </section>
    </div>


{% endblock %}




