{% extends 'base.html.twig' %}

{% block title %}UniFolio - Nouveau CV{% endblock %}
    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}
{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_cv') }}">Bibliothèque de cv</a></li>
            {% if '/edit' in app.request.uri %}
                <li class="breadcrumb-item active" aria-current="page">Edition cv</li>
            {% elseif '/new' in app.request.uri %}
                <li class="breadcrumb-item active" aria-current="page">Nouveau cv</li>
            {% endif %}
        </ol>
    </nav>
    <div class="container">
        {% if '/edit' in app.request.uri %}
            <h1>Modifier {{ cv.intitule }}</h1>
        {% elseif '/new' in app.request.uri %}
            <h1>Nouveau cv</h1>
        {% endif %}
        <section class="cv_form">
            <div class="row">
                <article class="col-lg-5 col-12">
                    {{ form_start(form) }}

                    {{ form_row(form.date_creation) }}
                    {{ form_row(form.date_modification) }}
                    {{ form_row(form.intitule) }}
                    {{ form_row(form.poste) }}
                    {{ form_row(form.description) }}
                    <hr>
                    <div>
                        <!-- Expériences -->
{#                        {% for experience in form.experience %}#}
                            <div class=" mb-3 bloc_experience">
                        {{ form_row(form.experience) }}
{#                                {{ form_row(experience.poste) }}#}
{#                                {{ form_row(experience.entreprise) }}#}
{#                                {{ form_row(experience.date_debut) }}#}
{#                                {{ form_row(experience.date_fin) }}#}
{#                                {{  form_widget(experience) }}#}

{#                                {{ form_widget(form.experience.vars.prototype) }}#}

{#                                {% for activite in experience.activite %}#}
{#                                    <div class="input-group mb-3">#}
{#                                        {{ form_widget(activite) }}#}
{#                                        <button type="button" class="btn btn-danger delete-experience-activite">#}
{#                                            <i class="fa-solid fa-square-minus"></i>#}
{#                                        </button>#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                                <div><button type="button" class="btn btn-primary add-experience-activite">#}
{#                                    Ajouter une activité **<i class="fa fa-square-plus"></i>#}
{#                                </button></div>#}

{#                                <button type="button" class="btn btn-danger delete-experience">#}
{#                                    Supprimer l'expérience <i class="fa-solid fa-square-minus"></i>#}
{#                                </button>#}
                            </div>
{#                        {% endfor %}#}
                        <button type="button" class="btn btn-primary add-experience">
                            Ajouter une experience <i class="fa fa-square-plus"></i>
                        </button>
                        <!-- Fin expériences -->
                        <hr>
                        <!-- Formations -->
                        <h2>Formations</h2>
                        <div>
                            {% for formation in form.formation %}
                                <div class="input-group mb-3">
                                    {{ form_row(formation.diplome) }}
                                    {{ form_row(formation.etablissement) }}
                                    {{ form_row(formation.date_debut) }}
                                    {{ form_row(formation.date_fin) }}
{#                                    {{ form_widget(formation) }}#}

                                    {% for activite in formation.activite %}
                                        <div class="input-group mb-3">
                                            {{ form_widget(activite) }}
                                            <button type="button" class="btn btn-danger delete-formation-activite">
                                                <i class="fa-solid fa-square-minus"></i>
                                            </button>
                                        </div>
                                    {% endfor %}
                                    <button type="button" class="btn btn-primary add-formation-activite">
                                        Ajouter une activité <i class="fa fa-square-plus"></i>
                                    </button>

                                    <button type="button" class="btn btn-danger delete-formation">
                                        Supprimer une formation <i class="fa-solid fa-square-minus"></i>
                                    </button>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-primary add-formation">
                                Ajouter une formation <i class="fa fa-square-plus"></i>
                            </button>
                        </div>
                        <!-- Fin expériences -->

                        <hr>
                        <div>
                            {% for softSkill in form.soft_skills %}
                                <div class="input-group mb-3">
                                    {{ form_widget(softSkill) }}
                                    <button type="button" class="btn btn-danger delete-soft-skill">
                                        <i class="fa-solid fa-square-minus"></i>
                                    </button>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-primary add-soft-skill">
                                Ajouter un soft skill <i class="fa fa-square-plus"></i>
                            </button>
                        </div>
                        <hr>
                        <div>
                            {% for hardSkill in form.hard_skills %}
                                <div class="input-group mb-3">
                                    {{ form_widget(hardSkill) }}
                                    <button type="button" class="btn btn-danger delete-hard-skill">
                                        <i class="fa-solid fa-square-minus"></i>
                                    </button>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-primary add-hard-skill">
                                Ajouter un hard skill <i class="fa fa-square-plus"></i>
                            </button>
                        </div>
                        <hr>
                        <div>
                            {% for langue in form.langues %}
                                <div class="input-group mb-3">
                                    {{ form_widget(langue) }}
                                    <button type="button" class="btn btn-danger delete-langue">
                                        <i class="fa-solid fa-square-minus"></i>
                                    </button>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-primary add-langue">
                                Ajouter une langue <i class="fa fa-square-plus"></i>
                            </button>
                        </div>
                        <hr>
                        <div>
                            {% for reseau in form.reseaux %}
                                <div class="input-group mb-3">
                                    {{ form_widget(reseau) }}
                                    <button type="button" class="btn btn-danger delete-reseau">
                                        <i class="fa-solid fa-square-minus"></i>
                                    </button>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-primary add-reseau">
                                Ajouter un reseau <i class="fa fa-square-plus"></i>
                            </button>
                        </div>
                        <hr>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        {{ form_end(form) }}

                </article>
            </div>
        </section>
    </div>
{% endblock %}


