{% extends 'base.html.twig' %}

{% block title %}UniFolio - Nouveau CV{% endblock %}
    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}
{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_cv') }}">Bibliothèque de cv</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nouveau CV</li>
        </ol>
    </nav>
    <div class="container">
        {% if '/edit' in app.request.uri %}
        <h1>Modifier un CV</h1>
        {% elseif '/new' in app.request.uri %}
        <h1>Nouveau CV</h1>
        {% endif %}
        <section class="cv_form">
            <div class="row">
                <article class="col-lg-5 col-12">
                    {{ form_start(form) }}

                    {{ form_row(form.date_creation) }}
                    {{ form_row(form.date_modification) }}
                    {{ form_row(form.intitule) }}
                    {{ form_row(form.description) }}

                    <hr>
                    <div>
                        {% for softSkill in form.soft_skills %}
                            <div class="input-group mb-3">
                                {{ form_widget(softSkill) }}
                            <button type="button" class="btn btn-danger delete-soft-skill">
                                <i class="fa-solid fa-square-minus"></i>
                            </button>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-primary add-soft-skill">
                            Ajouter un soft skill <i class="fa fa-square-plus"></i>
                        </button>
                    </div>
                    <hr>
                    <div>
                        {% for hardSkill in form.hard_skills %}
                            <div class="input-group mb-3">
                                {{ form_widget(hardSkill) }}
                            <button type="button" class="btn btn-danger delete-hard-skill">
                                <i class="fa-solid fa-square-minus"></i>
                            </button>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-primary add-hard-skill">
                            Ajouter un hard skill <i class="fa fa-square-plus"></i>
                        </button>
                    </div>
                    <hr>
                    <div>
                        {% for langue in form.langues %}
                            <div class="input-group mb-3">
                                {{ form_widget(langue) }}
                            <button type="button" class="btn btn-danger delete-langue">
                                <i class="fa-solid fa-square-minus"></i>
                            </button>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-primary add-langue">
                            Ajouter une langue <i class="fa fa-square-plus"></i>
                        </button>
                    </div>
                    <hr>
                    <div>
                        {% for reseau in form.reseaux %}
                            <div class="input-group mb-3">
                                {{ form_widget(reseau) }}
                            <button type="button" class="btn btn-danger delete-reseau">
                                <i class="fa-solid fa-square-minus"></i>
                            </button>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-primary add-reseau">
                            Ajouter un reseau <i class="fa fa-square-plus"></i>
                        </button>
                    </div>
                    <hr>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    {{ form_end(form) }}

                </article>
            </div>
        </section>
    </div>
{% endblock %}


