{% extends 'base.html.twig' %}

{% block title %}UniFolio - Nouveau CV{% endblock %}
    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}
{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_cv') }}">Bibliothèque de cv</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nouveau CV</li>
        </ol>
    </nav>
    <div class="container">
        <section class="cv_form">
            <div class="row">
                <article class="col-lg-5 col-12">
                    {{ form_start(form) }}

                    {{ form_row(form.date_creation) }}
                    {{ form_row(form.date_modification) }}
                    {{ form_row(form.intitule) }}
                    {{ form_row(form.description) }}

                    {% for softSkill in form.soft_skills %}
                        <div class="input-group mb-3">
                            {{ form_widget(softSkill) }}
                        </div>
                            <button type="button" class="btn btn-danger delete-soft-skill">
                                <i class="fa-solid fa-square-minus"></i>
                            </button>
                    {% endfor %}
                    <button type="button" class="btn btn-primary add-soft-skill">
                        Ajouter un soft skill <i class="fa fa-square-plus"></i>
                    </button>

                    {{ form_end(form) }}
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </article>
            </div>
        </section>
    </div>

{% block javascripts %}
<script>
    // Fonction pour supprimer un champ soft_skill
    function removeSoftSkill(button) {
        button.closest('.input-group').remove();
    }

    // Fonction pour ajouter un nouveau champ soft_skill
    function addSoftSkill() {
        // Récupération du prototype et incrémentation du compteur
        var prototype = document.querySelector('#cv_soft_skills').dataset.prototype;
        var index = document.querySelectorAll('.input-group').length;
        // Création du nouveau champ soft_skill
        var newForm = prototype.replace(/__name__/g, index);
        // Ajout du nouveau champ soft_skill au formulaire
        var formGroup = document.createElement('div');
        formGroup.classList.add('input-group', 'mb-3');
        formGroup.innerHTML = newForm;
        var button = document.createElement('button');
        button.type = 'button';
        button.classList.add('btn', 'btn-danger', 'delete-soft-skill');
        button.innerHTML = '<i class="fa fa-square-minus"></i>';
        button.style.width='fit-content';
        button.style.height='fit-content';
        button.style.margin='auto 10px';
        button.addEventListener('click', function () {
            removeSoftSkill(button);
        });
        formGroup.appendChild(button);
        var addButton = document.querySelector('.add-soft-skill');
        addButton.parentNode.insertBefore(formGroup, addButton);
    }

    // Gestionnaire d'événement pour le bouton de suppression d'un champ soft_skill
    document.querySelectorAll('.delete-soft-skill').forEach(function (button) {
        button.addEventListener('click', function () {
            removeSoftSkill(button);
        });
    });

    // Gestionnaire d'événement pour le bouton d'ajout d'un nouveau champ soft_skill
    var addButton = document.querySelector('.add-soft-skill');
    addButton.addEventListener('click', function () {
        addSoftSkill();
    });
</script>
    {% endblock %}
{% endblock %}


