{% extends 'base.html.twig' %}

{% block title %}Enseignant{% endblock %}

{% block body %}
    <h1>Enseignant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enseignant.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ enseignant.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enseignant.nom }}</td>
            </tr>
            <tr>
                <th>Mail_univ</th>
                <td>{{ enseignant.mailUniv }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profil_edit_bis_index') }}">back to list</a>

    <a href="{{ path('app_profil_edit_bis_edit', {'id': enseignant.id}) }}">edit</a>

    {{ include('profil_edit_bis/_delete_form.html.twig') }}
{% endblock %}
