<div class="card" style="width: 20rem;">
    <div class="card-body">

        <div class="card-content">
            <a class="btn-see">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#showStaticBackdrop{{ trace.id }}">
                    <i class="fa fa-eye"></i>
                </button>
            </a>
            <h5 class="card-title">{{ trace.titre }} -
                {% if 'TraceTypeImage' in trace.typeTrace %}
                    {{ trace.typeTrace|split('TraceType')|last }}
                {% elseif 'TraceTypeLien' in trace.typeTrace %}
                    {{ trace.typeTrace|split('TraceType')|last }}
                {% elseif 'TraceTypePdf' in trace.typeTrace %}
                    {{ trace.typeTrace|split('TraceType')|last }}
                {% elseif 'TraceTypeVideo' in trace.typeTrace %}
                    {{ trace.typeTrace|split('TraceType')|last }}
                {% endif %}
            </h5>
            <hr>

            <ul>
                <li>
                    Compétence A <span><i class="fa fa-check"></i></span>
                </li>
                <li>
                    Compétence B <span><i class="fa fa-xmark"></i></span>
                </li>
            </ul>

            <hr>
            <p class="card-text">modifié le
                : {{ trace.datemodification is empty ? trace.datecreation|date('d-m-Y H:i') : trace.datemodification|date('d-m-Y H:i') }}</p>
            <p class="card-text">{{ trace.description }}</p>
        </div>
    </div>
</div>
