<div class="card">
    <div class="card-body">
        <div class="card-header">
            <img src="/{{ portfolio.banniere }}" class="card-img-top" alt="...">
        </div>
        <div class="card-content">
            <a class="btn-see">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#showStaticBackdrop{{ portfolio.id }}">
                    <i class="fa fa-eye"></i>
                </button>
            </a>
            <h3 class="card-title">{{ portfolio.intitule }}</h3>
            <hr>
            <p>modifié le : {{ portfolio.dateModification|date('d/m/Y') }}</p>

            {% for page in portfolio.pages %}

                <p>{{ page|length }} page{% if page|length > 1 %}s{% endif %}</p>

            {% endfor %}

        </div>
    </div>
</div>