{% for etudiant in groupe.etudiants  %}
    <table>
        <thead>
        <tr>
            <th>Nom de l'étudiant.e</th>
            <th>Groupe de TP</th>
            <th>Dernier retour pédagogique</th>
            <th>Traces</th>
            <th>Portfolios</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ etudiant.prenom }} {{ etudiant.nom }}</td>
            <td>
                {% for groupe in etudiant.groupe %}
                    {% if 'TP' in groupe.libelle %}
                        {{ groupe.libelle }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>hello</td>
            {#    TODO:Lien vers biblio de portfolio et biblio de traces :) #}
            <td>
                {#        {% for portfolio in etudiant.portfolios %}#}
                {#            {% for page in portfolio.pages %}#}
                {#                {% for trace in page.trace %}#}
                {#                    {{ trace.titre }}#}
                {#                {% endfor %}#}
                {#            {% endfor %}#}
                {#        {% endfor %}#}
                lien vers traces de l'étudiant
            </td>
            <td>
                {#        {% for portfolio in etudiant.portfolios %}#}
                {#            {{ portfolio.intitule }}#}
                {#        {% endfor %}#}
                lien vers portfolio de l'étudiant
            </td>
        </tr>
        </tbody>
    </table>
{% endfor %}