{# todo: rename #}
<div class="tab-content active" id="myTabContent">
    <div class="tab-pane fade show active" id="but1" role="tabpanel" aria-labelledby="but1-tab">
        <ul class="nav nav-tabs" id="semestreTab" role="tablist">
            {% for semestre in data_user.semestresActifs|filter(semestre => semestre.annee.ordre == 1) %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if loop.first %} show active {% endif %}"
                            id="semestre{{ loop.index }}-tab"
                            data-bs-toggle="tab" data-bs-target="#typeGroupe{{ loop.index }}" type="button" role="tab"
                            aria-controls="typeGroupe{{ loop.index }}"
                            aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
                        {{ semestre.libelle }}
                    </button>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content" id="typeGroupeContent">
            {% for semestre in data_user.semestresActifs|filter(semestre => semestre.annee.ordre == 1) %}
                <div class="tab-pane fade{% if loop.first %} show active {% endif %}" id="typeGroupe{{ loop.index }}"
                     role="tabpanel" aria-labelledby="typeGroupe{{ loop.index }}-tab">
                    <ul class="nav nav-tabs" id="groupeTab{{ loop.index }}" role="tablist">
                        {% for typeGroupe in semestre.typeGroupes %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link{% if loop.first %} show active{% endif %}"
                                        id="groupe{{ loop.parent.loop.index }}-{{ loop.index }}-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#groupe{{ loop.parent.loop.index }}-{{ loop.index }}"
                                        type="button" role="tab"
                                        aria-controls="groupe{{ loop.parent.loop.index }}-{{ loop.index }}"
                                        aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
                                    {{ typeGroupe.libelle }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content" id="groupeContent{{ loop.index }}">
                        {% for typeGroupe in semestre.typeGroupes %}
                            <div class="tab-pane fade{% if loop.first %} show active{% endif %}"
                                 id="groupe{{ loop.parent.loop.index }}-{{ loop.index }}"
                                 role="tabpanel"
                                 aria-labelledby="groupe{{ loop.parent.loop.index }}-{{ loop.index }}-tab">
                                <ul class="nav nav-tabs" id="sousGroupeTab{{ loop.parent.loop.index }}-{{ loop.index }}"
                                    role="tablist">
                                    {% for groupe in typeGroupe.groupes %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link{% if loop.first %} show active{% endif %}"
                                                    id="sousGroupe{{ loop.parent.loop.parent.loop.index }}-{{ loop.parent.loop.index }}-{{ loop.index }}-tab"
                                                    data-bs-toggle="tab"
                                                    data-bs-target="#sousGroupe{{ loop.parent.loop.parent.loop.index }}-{{ loop.parent.loop.index }}-{{ loop.index }}"
                                                    type="button" role="tab"
                                                    aria-controls="sousGroupe{{ loop.parent.loop.parent.loop.index }}-{{ loop.parent.loop.index }}-{{ loop.index }}"
                                                    aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
                                                {{ groupe.libelle }}
                                            </button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="tab-pane fade show" id="but2" role="tabpanel" aria-labelledby="but2-tab">
        <ul class="nav nav-tabs" id="semestreTab" role="tablist">
            {% for semestre in data_user.semestresActifs|filter(semestre => semestre.annee.ordre == 2) %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if loop.first %} show active{% endif %}" id="semestre{{ loop.index }}-tab"
                            data-bs-toggle="tab" data-bs-target="#semestre{{ loop.index }}-content" type="button"
                            role="tab"
                            aria-controls="semestre{{ loop.index }}-content"
                            aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
                        {{ semestre.libelle }}
                    </button>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content" id="typeGroupeContent">
            {% for semestre in data_user.semestresActifs|filter(semestre => semestre.annee.ordre == 2) %}
                <div class="tab-pane fade{% if loop.first %} show active{% endif %}"
                     id="semestre{{ loop.index }}-content"
                     role="tabpanel" aria-labelledby="semestre{{ loop.index }}-tab">
                    <ul class="nav nav-tabs" id="groupeTab{{ loop.index }}" role="tablist">
                        {% if semestre.annee.diplome.apcParcours != null %}
                            {% for groupe in semestre.annee.diplome.apcParcours.groupes %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link{% if loop.first %} show active{% endif %}"
                                            id="groupe{{ loop.parent.loop.index }}-{{ loop.index }}-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#groupe{{ loop.parent.loop.index }}-{{ loop.index }}-content"
                                            type="button" role="tab"
                                            aria-controls="groupe{{ loop.parent.loop.index }}-{{ loop.index }}-content"
                                            aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
                                        {{ groupe.libelle }}
                                    </button>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>

                    <div class="tab-content" id="groupeContent{{ loop.index }}">
                        {% if semestre.annee.diplome.apcParcours != null %}
                            {% for groupe in semestre.annee.diplome.apcParcours.groupes %}
                                <div class="tab-pane fade{% if loop.first %} show active{% endif %}"
                                     id="groupe{{ loop.parent.loop.index }}-{{ loop.index }}-content" role="tabpanel"
                                     aria-labelledby="groupe{{ loop.parent.loop.index }}-{{ loop.index }}-tab">

                                    {% include('partials/_etudiant_by_group.html.twig') %}

                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


</div>
