{% extends 'base.html.twig' %}
{% block title %}UniFolio - Bibliothèque de traces{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}
{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_trace') }}">Bibliothèque de traces</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edition trace</li>
        </ol>
    </nav>
    <div class="container">
        <section class="trace_form">
            <div class="row">
                <article class="col-lg-5 col-12">
                    <h2>Modifier {{ trace.titre }}</h2>
                    {{ form(form) }}
                </article>
                <article class="col-lg-5 col-12">
                    {% for competence in competences %}
                        <p><span style="color: {{ competence.couleur }}">{{ competence.ue }} : {{ competence.code }}</span> | {{ competence.libelle }}</p>
                    {% endfor %}
                </article>
            </div>
        </section>
    </div>
{% endblock %}