{% extends 'base.html.twig' %}
{% block title %}UniFolio - Bibliothèque de traces{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}
{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_trace') }}">Bibliothèque de traces</a></li>
            {% if '/edit' in app.request.uri %}
                <li class="breadcrumb-item active" aria-current="page">Edition de trace</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Nouvelle trace</li>
            {% endif %}
        </ol>
    </nav>
    <div class="container">
        <section class="trace_form">
            <div class="row">
                <article class="col-lg-5 col-12">
                    {% if '/edit' in app.request.uri %}
                        <h2>Modifier {{ trace.titre }}</h2>
                    {% else %}
                        <h2>Créer une nouvelle trace</h2>
                        <h3>{{ trace.display }}</h3>
                    {% endif %}

                    {{ form_start(form) }}
                    <div class="hidden">
                        {{ form_row(form.date_creation) }}
                        {{ form_row(form.date_modification) }}
                    </div>
                    {{ form_row(form.titre) }}
                    <div>
                        {% for contenu in form.contenu %}
                            <div class="input-group mb-3">
                                {{ form_widget(contenu) }}
                                <button type="button" class="btn btn-danger delete-contenu">
                                    <i class="fa-solid fa-square-minus"></i>
                                </button>
                            </div>
                        {% endfor %}
                        {% if 'image' in trace.display %}
                            <button type="button" class="btn btn-primary add-contenu">
                                Ajouter une image <i class="fa fa-square-plus"></i>
                            </button>
                        {% elseif 'pdf' in trace.display %}
                            <button type="button" class="btn btn-primary add-contenu">
                                Ajouter un PDF <i class="fa fa-square-plus"></i>
                            </button>
                        {% elseif 'lien' in trace.display %}
                            <button type="button" class="btn btn-primary add-contenu">
                                Ajouter un lien <i class="fa fa-square-plus"></i>
                            </button>
                        {% elseif 'video' in trace.display %}
                            <button type="button" class="btn btn-primary add-contenu">
                                Ajouter une vidéo <i class="fa fa-square-plus"></i>
                            </button>
                        {% endif %}
                    </div>
                    {{ form_row(form.description) }}
                    {{ form_end(form) }}
                </article>
                <article class="col-lg-5 col-12">
                    {% for competence in competences %}
                        <p>
                            <span style="color: {{ competence.couleur }}">{{ competence.ue }} : {{ competence.code }}</span>
                            | {{ competence.libelle }}</p>
                    {% endfor %}
                </article>
            </div>
        </section>
    </div>
{% endblock %}


