{% extends 'base.html.twig' %}

    {% block title %}UniFolio - Edition de trace{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}
{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_trace') }}">Bibliothèque de traces</a></li>
            {% if '/edit' in app.request.uri %}
                <li class="breadcrumb-item active" aria-current="page">Edition de trace</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Nouvelle trace</li>
            {% endif %}
        </ol>
    </nav>
    <div class="container">
        <section class="trace_form">
            <div class="row">
                <article class="col-lg-6 col-12">
                    {% if '/edit' in app.request.uri %}
                        <h2>Modifier {{ trace.titre }}</h2>
                    {% else %}
                        <h2>Créer une nouvelle trace</h2>
                        <h3>{{ trace.display }}</h3>
                    {% endif %}
                    {{ form_start(form) }}
                    <div class="hidden">
                        {{ form_row(form.date_creation) }}
                        {{ form_row(form.date_modification) }}
                    </div>
                    {{ form_row(form.ordre) }}
                    {{ form_row(form.titre) }}
                    <hr>
                    <div id="image_trace">
                        {% for contenu in form.contenu %}
                            <div class="input-group mb-3">
                                {{ form_widget(contenu) }}

                            </div>
                        {% endfor %}
                        {% if 'TraceTypeImage' in trace.typeTrace %}
                            {# TODO: Si form.contenu.vars.data existe, enregistrer data dans la DB à la soumission du form #}
                            {# {{ dump(form.contenu.vars.data) }} #}
                            {% for data in form.contenu.vars.data %}
                                <div class="image_trace_div">
                                    <p>Image.s déjà dans la DB</p>
                                    <img src="{{ asset(data) }}" data-file="registered" style="width: 100px"
                                         alt="image déjà enregistrée"/>
                                    {# <input type="file" value="{{ asset(data) }}"> #}
                                    <button type="button" class="btn btn-danger delete-image">
                                        <i class="fa-solid fa-square-minus"></i>
                                    </button>
                                </div>
                                <hr>
                            {% endfor %}

                            <button type="button" class="btn btn-primary add-image">
                                Ajouter une image <i class="fa fa-square-plus"></i>
                            </button>
                        {% elseif 'TraceTypePdf' in trace.typeTrace %}
                            <button type="button" class="btn btn-primary add-contenu">
                                Ajouter un PDF <i class="fa fa-square-plus"></i>
                            </button>
                        {% elseif 'TraceTypeLien' in trace.typeTrace %}
                            <button type="button" class="btn btn-primary add-contenu">
                                Ajouter un lien <i class="fa fa-square-plus"></i>
                            </button>
                        {% elseif 'TraceTypeVideo' in trace.typeTrace %}
                            <button type="button" class="btn btn-primary add-contenu">
                                Ajouter une vidéo <i class="fa fa-square-plus"></i>
                            </button>
                        {% endif %}
                    </div>
                    <hr>
                    {{ form_row(form.description) }}
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    {{ form_end(form) }}
                </article>
                <aside class="col-lg-6 col-12">
                    <h2>Compétences relatives à cette trace</h2>
                    <form action="">
                        <button>Ajouter des compétences</button>
                        <ul>
                            {% for competence in competences|slice(0,5) %}
                                <div>
                                    <li>
                                        <span style="color: {{ competence.couleur }}">{{ competence.ue }} : {{ competence.code }}</span>
                                        | {{ competence.libelle }}
                                    </li>
                                </div>
                            {% endfor %}
                        </ul>
                    </form>
                </aside>
            </div>
        </section>
    </div>
{% endblock %}


