{% extends 'base.html.twig' %}

    {% block title %}UniFolio - Edition de trace{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}
{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_trace') }}">Bibliothèque de traces</a></li>
            {% if '/edit' in app.request.uri %}
                <li class="breadcrumb-item active" aria-current="page">Edition de trace</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Nouvelle trace</li>
            {% endif %}
        </ol>
    </nav>
    <div class="container trace_form">
        <section class="only-trace">
            <div class="card">
                <article>
                    {% if '/edit' in app.request.uri %}
                        <h2>Modifier {{ trace.titre }}</h2>
                    {% else %}
                        <h2>Créer une nouvelle trace</h2>
                        <h3>{{ trace.display }}</h3>
                    {% endif %}
                    <small>Les champs marqués d'un <span style="color: red">*</span> sont obligatoires.</small>
                    <hr>

                    {{ form_start(form) }}
                    <div class="hidden">
                        {{ form_row(form.date_creation) }}
                        {{ form_row(form.date_modification) }}
                    </div>

                    <div class="row">
                        <div class="col-12 g-4">
                            {{ form_row(form.titre) }}
                        </div>
                    </div>

                    <!-- Images -->
                    <div class="row">
                        <div class="col-lg-6 col-12 g-4">
                            {% if 'TraceTypeImage' in trace.typeTrace %}
                                <label class="form-label required">Image.s</label>
                                {% if '/edit' in app.request.uri %}
                                <div class="galerie">
                                    {% for data in trace.contenu %}
                                        <div class="image_trace_div">
                                            <input type="hidden" name="img[{{ loop.index }}]" value="{{ data }}">
                                            <div class="trace-img" style="background-image: url('{{ asset(data) }}')">

                                            </div>
                                            <button type="button" class="btn btn-danger delete-image">
                                                <i class="fa-solid fa-square-minus"></i>
                                            </button>
                                        </div>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                                <br>
                                <button type="button" class="btn btn-primary add-image">
                                    Ajouter une image <i class="fa fa-square-plus"></i>
                                </button>


                                <!-- Pdf -->

                            {% elseif 'TraceTypePdf' in trace.typeTrace %}
                                <label class="form-label required">Pdf</label> <br>
                                {% if '/edit' in app.request.uri %}
                                    {% for data in trace.contenu %}
                                        <div class="pdf_trace_div">
                                            <p>Pdf déjà dans la DB</p>
                                            <input type="hidden" name="pdf[{{ loop.index }}]" value="{{ data }}">
                                            <iframe src="{{ asset(data) }}" style="width: 50%"></iframe>
                                            <button type="button" class="btn btn-danger delete-pdf">
                                                <i class="fa-solid fa-square-minus"></i>
                                            </button>
                                            <hr>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <button type="button" class="btn btn-primary add-pdf">
                                    Ajouter un PDF <i class="fa fa-square-plus"></i>
                                </button>

                                <!-- Liens -->

                            {% elseif 'TraceTypeLien' in trace.typeTrace %}
                                <div>
                                    <label class="form-label required">Lien.s</label>
                                    {{ form_widget(form.contenu) }}
                                </div>
                                <button type="button" class="btn btn-primary add-lien">
                                    Ajouter un lien <i class="fa fa-square-plus"></i>
                                </button>

                                <!-- Videos -->

                            {% elseif 'TraceTypeVideo' in trace.typeTrace %}
                                <div>
                                    <label class="form-label required">Vidéo.s</label>
                                    {{ form_widget(form.contenu) }}
                                </div>
                                <button type="button" class="btn btn-primary add-video">
                                    Ajouter une vidéo <i class="fa fa-square-plus"></i>
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 col-12 g-4">
                            {{ form_row(form.legende) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 g-4">
                            {{ form_row(form.description) }}
                        </div>
                    </div>
                    <div>
                        <div class="form_trace_competences">
                            <h5>Compétences relatives à cette trace <span style="color: red">*</span></h5>
                            {{ form_row(form.competences) }}
                        </div>
                    </div>
                </article>
{#                <article class="col-lg-12 col-12 commentaire">#}
                    <button type="submit" class="btn btn-secondary">Enregistrer</button>
{#                </article>#}
            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
