{% extends 'base.html.twig' %}

{% block title %}Hello TestTraceController!{% endblock %}

{% block body %}
    <h1>Dépot de trace</h1>

    <h2>Conditions pour l'importation de contenu</h2>
    <ul>
        {% for trace in traces %}
            <li>
                {#                <a href="{{ path('app_show', {'typeTrace': constant('class', trace)}) }}">{{ trace.display #}
                {#                    }}</a> #}
                {{ trace.display }}
            </li>
        {% endfor %}
    </ul>


    <h2>Formulaires de trace</h2>

    <a href="{{ path('trace_image') }}">Formulaire Image</a>
    <br>
    <a href="{{ path('trace_lien') }}">Formulaire Lien</a>
    <br>
    <a href="{{ path('trace_pdf') }}">Formulaire Pdf</a>
    <br>
    <a href="{{ path('trace_video') }}">Formulaire Video</a>
{% endblock %}