{% extends 'base.html.twig' %}

{% block title %}Hello TestTraceController!{% endblock %}

{% block body %}
    <h1>Dépot de trace</h1>

    <h2>Conditions pour l'importation de contenu</h2>
    <ul>
        {% for trace in traces %}
            <li>
                {#                <a href="{{ path('app_show', {'typeTrace': constant('class', trace)}) }}">{{ trace.display #}
                {#                    }}</a> #}
                {{ trace.display }}
            </li>
        {% endfor %}
    </ul>


    <h2>Création d'une trace</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

{#    {{ form_start(form) }}#}
{#    {{ form_row(form.titre) }}#}
{#    {{ form_row(form.type_trace) }}#}
{#    {{ form_row(form.contenu) }}#}
{#    {{ form_row(form.description) }}#}
{#    {{ form_row(form.Envoyer) }}#}

{#        {{ form_widget(form) }}#}
{% endblock %}