{% extends 'base.html.twig' %}

{% block title %}UniFolio - Portfolio{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('app_trace') }}">Bibliothèque de
                    traces</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ trace.titre }}</li>
        </ol>
    </nav>

    <div class="container traces">
        <section class="trace-visu">
            <h2>{{ trace.titre }}</h2>
            <div class="trace-infos-min">
                <ul>
                    <li><span>Créée le :&nbsp;</span> {{ trace.datecreation|date('d-m-y') }}</li>
                    <li>•</li>
                    <li><span>Modifiée le :&nbsp;</span> {{ trace.datemodification|date('d-m-y') }}</li>
                </ul>
            </div>
            <hr>
            <ul class="trace-competences-min">
                {% for validation in trace.validations %}
                    <li class="{{ validation.apcNiveau.competences.couleur }}">
                        {#                        <a href="{{ path('app_trace') }}"> #}
                        {{ validation.apcNiveau.competences.nomCourt }},&nbsp;
                        {#                        </a> #}
                    </li>
                {% endfor %}
            </ul>
            <hr>

            {% if 'TraceTypeImage' in trace.typeTrace %}
                <figure>
                    <div class="row g-2 trace-galerie-img">
                        {% for img in trace.contenu %}
                            <div class="col-lg-6 col-12">
                                <img src="/{{ img }}" alt="image de la trace">
                            </div>
                        {% endfor %}
                    <figcaption>{{ trace.legende }}</figcaption>
                    </div>
                </figure>

            {% elseif 'TraceTypeLien' in trace.typeTrace %}
                <figure>
                    <div class="trace-galerie-lien">
                        {% for lien in trace.contenu %}
                                <button class="btn btn-primary">
                                <a href="{{ lien }}" target="_blank">{{ lien }}</a>
                                </button>
                        {% endfor %}
                        <figcaption>{{ trace.legende }}</figcaption>
                    </div>
                </figure>
            {% elseif 'TraceTypePdf' in trace.typeTrace %}
                {{ trace.typeTrace|split('TraceType')|last }}
                <br>
                {% for pdf in trace.contenu %}
                    <iframe src="/{{ pdf }}" width="100%" height="500px"></iframe>
                {% endfor %}
            {% elseif 'TraceTypeVideo' in trace.typeTrace %}
                {{ trace.typeTrace|split('TraceType')|last }}
                <br>
                {% for video in trace.contenu %}
                    <iframe width="100%" height="300" src="{{ video }}"
                            title="Video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                {% endfor %}
            {% endif %}

            <p>
                {{ trace.description }}
            </p>

            <div class="trace-competences-block g-3">
                {% for validation in trace.validations %}
                    <div class="card trace-competences col-12">
                        <div>
                            <span class="{{ validation.apcNiveau.competences.couleur }}">{{ validation.apcNiveau.competences.nomCourt }} </span>
                            •
                            {{ validation.apcNiveau.libelle }}
                        </div>
                        {% if validation.etat == 0 %} <i class="fa-solid fa-hourglass-half"
                                                         style="color: #4c008b"></i>
                        {% elseif validation.etat == 1 %} <i class="fa-solid fa-xmark"
                                                             style="color: red"></i>
                        {% elseif validation.etat == 2 %} <i class="fa-solid fa-arrow-up"
                                                             style="color: orange"></i>
                        {% elseif validation.etat == 3 %} <i class="fa-solid fa-check"
                                                             style="color: limegreen"></i>
                        {% endif %}
                    </div>
                    {% if validation.etat == 0 %}
                        <p>En attente de validation</p>
                    {% else %}
                        <p>Evaluation saisie par {{ validation.enseignant.prenom }} {{ validation.enseignant.nom }}
                            le {{ validation.dateModification|date('d-m-y') }}</p>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="trace-commentaires-block">
                <h3>Commentaires</h3>
            </div>
        </section>
    </div>

{% endblock %}

