{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="content-container account">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_accueil') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Réinitialisation du mot de passe</li>
        </ol>
    </nav>
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
                <h1>Réinitialisation du mot de passe</h1>
                <div class="form-group">
                    {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                </div>
                <button class="btn btn-primary">Réinitialiser</button>
                {{ form_end(resetForm) }}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group">
                    <p><a href="{{ path('app_login') }}">Retour au formulaire de Connexion</a></p>
                    <p><a href="{{ path('app_users_new') }}">Retour au formulaire d'Inscription</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
