<div class="step-title">
    <h4>Ajouter un cv</h4>
</div>

    <div class="alert alert-info mb-2 col-12">
        Choisissez un CV à lier à ce portfolio.
    </div>

    <label for="selectCv" class="sr-only">Choisir un cv</label>
    <select class="form-select"
            id="selectCv"
            is="select-complete" {{ stimulus_action('cv', 'selectedCv', 'change') }}>
        <option value="">Choisir...</option>
            <option data-portfolio-id="{{ portfolio.id }}" value="new">Ajouter un nouveau cv</option>
        {% for cv in cvs %}
            <option data-portfolio-id="{{ portfolio.id }}" value="{{ cv.id }}">{{ cv.intitule }}</option>
        {% endfor %}
    </select>

    <hr>

    <div {{ stimulus_target('cv', 'cvZone') }}{{ stimulus_target('cv', 'cvZone') }}>
    </div>

 {% if cv is not null %}

        {% include 'portfolio_process/step/_selectedCv.html.twig' %}

 {% endif %}