<div class="card">
    <div style="display: flex; justify-content: space-between">
        <div class="trace" style="display: flex; flex-direction: column">
            <h4>{{ trace.titre }}</h4>
            <h5>Compétences</h5>
            <ul>
                {% for validation in trace.validations %}
                    <li>
                        {{ validation.competences.libelle }}
                        {% if validation.etat == 0 %} <i class="fa-solid fa-hourglass-half" style="color: #4c008b"></i>
                        {% elseif validation.etat == 1 %} <i class="fa-solid fa-xmark" style="color: red"></i>
                        {% elseif validation.etat == 2 %} <i class="fa-solid fa-arrow-up" style="color: orange"></i>
                        {% elseif validation.etat == 3 %} <i class="fa-solid fa-check" style="color: limegreen"></i>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <button class="btn-danger btn" {{ stimulus_action('trace', 'deleteTrace', 'click') }} value="{{ trace.id }}"
                    data-page="{{ page.id }}">
                <i class="fa-solid fa-minus-square"></i>
            </button>
            <button class="btn-warning btn" {{ stimulus_action('trace', 'editTrace', 'click') }} value="{{ trace.id }}"
                    data-type="{{ trace.typeTrace }}">
                <i class="fa-solid fa-edit"></i>
            </button>
            <button class="btn-primary btn" {{ stimulus_action('trace', 'up', 'click') }} value="{{ trace.id }}"
                    data-page="{{ page.id }}" {% if trace.ordreTrace.ordre is not defined or trace.ordreTrace.ordre is defined and trace.ordreTrace.ordre == 1 %} disabled {% endif %}>
                <i class="fa-solid fa-angle-up"></i>
            </button>
            <button class="btn-primary btn" {{ stimulus_action('trace', 'down', 'click') }} value="{{ trace.id }}"
                    data-page="{{ page.id }}" {% if trace.ordreTrace.ordre is defined and tracesCount == trace.ordreTrace.ordre %} disabled {% endif %}>
                {{ ordreMaxTrace }}
                <i class="fa-solid fa-angle-down"></i>
            </button>
        </div>
    </div>
</div>