<h4>Edition de la page {{ page.intitule }}</h4>

{{ form_start(form, {'attr': {id:'formPage'}}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

<hr>

<div class="alert alert-info mb-2">
    Choisissez une trace déjà existante pour la dupliquer dans cette page, ou ajoutez une trace vide.
</div>
<div {{ stimulus_target('page', 'traceZone') }}>

</div>

{% if existingTraces is not null %}
    {% for trace in existingTraces %}
        {% include('portfolio_process/step/_addTrace.html.twig') %}
    {% endfor %}
{% endif %}

<form>
    <label for="selectTrace" class="sr-only">Choisir une trace</label>
    <select class="form-select"
            id="selectTrace"
            is="select-complete"
            {{ stimulus_action('page', 'addTrace') }}>
        <option value="">Choisir...</option>
        <option data-page-id="{{ page.id }}" value="new">Ajouter une nouvelle trace</option>
        {% for trace in traces %}
            <option data-page-id="{{ page.id }}" value="{{ trace.id }}">{{ trace.titre }}</option>
        {% endfor %}
    </select>
</form>

<button class="btn btn-primary d-block" value="{{ page.id }}"
        {{ stimulus_action('page', 'savePage', 'click') }}>
    Enregister
</button>