<div class="step-title">
    <h4>Edition de {{ portfolio.intitule }}</h4>
</div>
<small>Les champs marqués d'un <span style="color: red">*</span> sont obligatoires.</small>
{{ form_start(form, {'attr': {id:'portfolio'}}) }}
<div class="hidden">
    {{ form_row(form.date_creation) }}
    {{ form_row(form.date_modification) }}
</div>
{% if portfolio.banniere is not null %}
    <div class="banniere" style="background-image: url({{ asset(portfolio.banniere) }})">
        <button class="btn-danger btn" {{ stimulus_action('creation', 'deleteBanniere', 'click') }}>
            <i class="fa-regular fa-square-minus"></i>
        </button>
    </div>
{% endif %}
{{ form_row(form.intitule) }}

{{ form_label(form.banniere) }}
<div class="alert alert-warning mb-2">
    Si vous n'ajoutez pas de bannière, une image par défaut sera utilisée. S'il y en a déjà une, pas besoin d'en ajouter
    une nouvelle.
</div>
{{ form_widget(form.banniere) }}
{{ form_help(form.banniere) }}


{{ form_row(form.description) }}

{{ form_label(form.visibilite) }}
<div class="alert alert-warning mb-2">
    Il ne peut y avoir qu'un seul portfolio public par année universitaire. Si vous en créez un nouveau, l'ancien sera automatiquement rendu privé
</div>
{{ form_widget(form.visibilite) }}
{{ form_help(form.visibilite) }}

{{ form_end(form) }}

<button class="btn btn-primary d-block save" {{ stimulus_action('creation', 'save', 'click', {url:path('app_portfolio_new')}) }}>
    Enregistrer les modifications
</button>