<div class="step-title">
    <h4>Edition de {{ portfolio.intitule }}</h4>
</div>
    <small>Les champs marqués d'un <span style="color: red">*</span> sont obligatoires.</small>
{{ form_start(form, {'attr': {id:'portfolio'}}) }}
<div class="hidden">
    {{ form_row(form.date_creation) }}
    {{ form_row(form.date_modification) }}
</div>
{% if portfolio.banniere is not null %}
    <div style="width: 100%; height: 150px; overflow: hidden; background-image: url({{ asset(portfolio.banniere) }}); background-position: center; background-size: cover; margin-top: 15px; display: flex; justify-content: flex-end;">
    <button class="btn-danger btn" {{ stimulus_action('creation', 'deleteBanniere', 'click') }}>
        <i class="fa-regular fa-square-minus"></i>
    </button>
    </div>
{% endif %}
{{ form_row(form.intitule) }}

{{ form_label(form.banniere) }}
<div class="alert alert-info mb-2">
    Si vous n'ajoutez pas de bannière, une image par défaut sera utilisée.
</div>
{{ form_widget(form.banniere) }}
{{ form_help(form.banniere) }}


{{ form_row(form.description) }}
{{ form_row(form.visibilite) }}
{{ form_end(form) }}

<button class="btn btn-primary d-block save" {{ stimulus_action('creation', 'save', 'click', {url:path('app_portfolio_new')}) }}>
    Enregistrer les modifications
</button>