<div>
    {% if portfolio.commentaires is empty %}
        <p>Aucun commentaire pour le moment</p>
    {% else %}
        {% for commentaire in portfolio.commentaires %}
            <div class="card"
                 style="margin-bottom: 10px; box-shadow: none; border: 1px solid lightgrey">
                <div class="card-header">
                    <div style="display: flex; justify-content: space-between; align-items: center">
                        <h6 class="card-subtitle">{{ commentaire.enseignant.prenom }} {{ commentaire.enseignant.nom }}</h6>
                        <a href="{{ path('app_delete_commentaire', {'id': commentaire.id}) }}">
                            {% if commentaire.enseignant.id == data_user.enseignant.id %}
                                <a href="{{ path('app_delete_commentaire', {'id': commentaire.id}) }}">
                                    <button class="btn btn-delete"><i
                                                class="fa-solid fa-square-minus"></i>
                                    </button>
                                </a>
                            {% endif %}
                        </a>
                    </div>
                    <small class="text-muted">{{ commentaire.datecreation|date('d-m-Y H:i') }}</small>
                    <small>·</small>
                    <small>
                        {% if commentaire.visibilite == 1 %}
                            Public
                        {% else %}
                            Privé
                        {% endif %}
                    </small>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ commentaire.contenu }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
