<div class="pages">

    <div class="card portfolio-pages">
        <a class=" btn-back" href="{{ path('app_portfolio_index', {id: portfolio.id}) }}">
            <button class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i></button>
        </a>
        <h2>{{ page.intitule }}</h2>
        <em>{{ page.description }}</em>
        <hr>

        {% for trace in traces %}
            <div class="card-body portfolio-traces col-12">
                <h3>{{ trace.titre }}</h3>

                <div class="portfolio-trace-contenu">
                    {% if 'TraceTypeImage' in trace.typeTrace %}
                        {% for img in trace.contenu %}
                            <figure>
                                <div class="row g-2 trace-galerie-img">
                                    <div class="col-lg-6 col-12">
                                        <img src="{{ img }}" alt="image de la trace">
                                    </div>
                                    <figcaption>{{ trace.legende }}</figcaption>
                                </div>
                            </figure>
                        {% endfor %}

                    {% elseif 'TraceTypeLien' in trace.typeTrace %}
                        <figure>
                            <div class="trace-galerie-lien">
                                {% for lien in trace.contenu %}
                                    <button class="btn btn-primary">
                                        <a href="{{ lien }}" target="_blank">{{ lien }}</a>
                                    </button>
                                {% endfor %}
                                <figcaption>{{ trace.legende }}</figcaption>
                            </div>
                        </figure>
                    {% elseif 'TraceTypePdf' in trace.typeTrace %}
                        <figure>
                            <div class="row g-2 trace-galerie-img">
                                {% for pdf in trace.contenu %}
                                    <div class="col-lg-6 col-12">
                                        <iframe src="{{ pdf }}" width="100%" height="500px"></iframe>
                                    </div>
                                {% endfor %}
                                <figcaption>{{ trace.legende }}</figcaption>
                            </div>
                        </figure>
                    {% elseif 'TraceTypeVideo' in trace.typeTrace %}
                        <figure>
                            <div class="row g-2 trace-galerie-img">
                                {% for video in trace.contenu %}
                                    <div class="col-lg-6 col-12">
                                        <iframe width="100%" height="300" src="{{ video }}"
                                                title="Video player"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                allowfullscreen></iframe>
                                    </div>
                                {% endfor %}
                                <figcaption>{{ trace.legende }}</figcaption>
                            </div>
                        </figure>
                    {% endif %}

                </div>

                {{ trace.description|raw }}

                <ul class="portfolio-competences">
                    {% for validation in trace.validations %}
                        <li>
                            <div>
                                                   <span class="{{ validation.apcNiveau.competences.couleur }}">
                                                    {{ validation.apcNiveau.competences.nomCourt }}
                                                       </span> •
                                {{ validation.apcNiveau.libelle }}
                            </div>
                            {% if validation.etat == 0 %} <i class="fa-solid fa-hourglass-half"
                                                             style="color: #4c008b"></i>
                            {% elseif validation.etat == 1 %} <i class="fa-solid fa-xmark" style="color: red"></i>
                            {% elseif validation.etat == 2 %} <i class="fa-solid fa-arrow-up" style="color: orange"></i>
                            {% elseif validation.etat == 3 %} <i class="fa-solid fa-check" style="color: limegreen"></i>
                            {% endif %}
                        </li>
                        {% if validation.etat == 0 %}
                            <p>En attente de validation</p>
                        {% else %}
                            <p>Evaluation saisie par {{ validation.enseignant.prenom }} {{ validation.enseignant.nom }}
                                le {{ validation.dateModification|date('d-m-y') }}</p>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="trace-commentaires-block col-12">
                    <h3>Commentaires</h3>
                    {% set visibleComments = trace.commentaires|filter(commentaire => commentaire.visibilite == 1) %}
                    {% if visibleComments is empty %}
                        <p>Aucun commentaire pour le moment</p>
                    {% else %}
                        {% for commentaire in trace.commentaires %}
                            {% if commentaire.visibilite == 1 %}
                                <div class="card"
                                     style="margin-bottom: 10px; box-shadow: none; border: 1px solid lightgrey">
                                    <div class="card-header">
                                        <div style="display: flex; justify-content: space-between; align-items: center">
                                            <h6 class="card-subtitle">{{ commentaire.enseignant.prenom }} {{ commentaire.enseignant.nom }}</h6>
                                            <small>
                                                {{ commentaire.datecreation|date('d-m-Y H:i') }}
                                            </small>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ commentaire.contenu }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>
