<em class="portfolio-description">{{ portfolio.description }}</em>

{% for page in pages %}

    <div class="card portfolio-pages-min" data-page="{{ page.id }}" {{ stimulus_action('portfolioPage', 'showPage', 'click') }} style="padding: 0 25px">
        <div class="card-body">
            <h5 class="card-title">{{ page.intitule }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ page.description }}</h6>
            <hr>
            <ul class="portfolio-competences">
                <h6>Validation des compétences dans cette page</h6>
                {% set seen = [] %}
                {% for ordre in page.ordreTraces %}
                    {% for validation in ordre.trace.validations %}
                        {% if validation.apcNiveau.libelle not in seen %}
                            {% set totalApparitions = 0 %}
                            {% set totalEtatTrois = 0 %}
                            {% for ordre2 in page.ordreTraces %}
                                {% for validation2 in ordre2.trace.validations %}
                                    {% if validation2.apcNiveau.libelle == validation.apcNiveau.libelle %}
                                        {% set totalApparitions = totalApparitions + 1 %}
                                        {% if validation2.etat == 3 %}
                                            {% set totalEtatTrois = totalEtatTrois + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <li>
                                <div>
                        <span class="{{ validation.apcNiveau.competences.couleur }}">
                            {{ validation.apcNiveau.competences.nomCourt }}
                        </span> •
                                    {{ validation.apcNiveau.libelle }}
                                </div>
                                <span class="{{ validation.apcNiveau.competences.couleur }}">
                                {{ (totalEtatTrois / totalApparitions) * 100 }}%
                                </span>
                                {% set seen = seen|merge([validation.apcNiveau.libelle]) %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
