<em class="portfolio-description">{{ portfolio.description }}</em>

{% for page in pages %}
{% if user.etudiant is not null %}
<div class="card portfolio-pages-min"
     data-page="{{ page.id }}" {{ stimulus_action('portfolioPage', 'showPage', 'click') }} style="padding: 0 25px">
    {% elseif user.enseignant is not null %}
    <div class="card portfolio-pages-min"
         data-page="{{ page.id }}" {{ stimulus_action('portfolioPage', 'showEvalPage', 'click') }}
         style="padding: 0 25px">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ page.intitule }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ page.description }}</h6>
            <hr>
            <ul class="portfolio-competences">
                <h6>Validation des compétences dans cette page</h6>
                {% set seen = [] %}
                {% for ordre in page.ordreTraces %}
                    {% for validation in ordre.trace.validations %}
                        {% if validation.apcNiveau.libelle not in seen %}
                            {% set totalApparitions = 0 %}
                            {% set totalEtatTrois = 0 %}
                            {% for ordre2 in page.ordreTraces %}
                                {% for validation2 in ordre2.trace.validations %}
                                    {% if validation2.apcNiveau.libelle == validation.apcNiveau.libelle %}
                                        {% set totalApparitions = totalApparitions + 1 %}
                                        {% if validation2.etat == 3 %}
                                            {% set totalEtatTrois = totalEtatTrois + 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <li>
                                <div>
                        <span class="{{ validation.apcNiveau.competences.couleur }}">
                            {{ validation.apcNiveau.competences.nomCourt }}
                        </span> •
                                    {{ validation.apcNiveau.libelle }}
                                </div>
                                <span class="{{ validation.apcNiveau.competences.couleur }}">
                                {{ (totalEtatTrois / totalApparitions) * 100 }}%
                                </span>
                                {% set seen = seen|merge([validation.apcNiveau.libelle]) %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
    {% if user.enseignant is not null %}
    <div>
        <h5>Commentaires</h5>
        {% if portfolio.commentaires is empty %}
            <p>Aucun commentaire pour le moment</p>
        {% else %}
            {% for commentaire in portfolio.commentaires %}
                <div class="card"
                     style="margin-bottom: 10px; box-shadow: none; border: 1px solid lightgrey">
                    <div class="card-header">
                        <div style="display: flex; justify-content: space-between; align-items: center">
                            <h6 class="card-subtitle">{{ commentaire.enseignant.prenom }} {{ commentaire.enseignant.nom }}</h6>
                            <a href="{{ path('app_delete_commentaire', {'id': commentaire.id}) }}">
                                <button class="btn btn-delete"><i class="fa-solid fa-square-minus"></i>
                                </button>
                            </a>
                        </div>
                        <small class="text-muted">{{ commentaire.datecreation|date('d-m-Y H:i') }}</small>
                        <small>·</small>
                        <small>
                            {% if commentaire.visibilite == 1 %}
                                Public
                            {% else %}
                                Privé
                            {% endif %}
                        </small>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ commentaire.contenu }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.contenu) }}
        {{ form_widget(commentForm.visibilite) }}
        <button type="submit" class="btn btn-primary" name="portfolioId" value="{{ portfolio.id }}">Publier
        </button>
        {{ form_end(commentForm) }}
    </div>
</div>
{% endif %}