{% extends 'base.html.twig' %}

{% block title %}UniFolio - Bibliothèque de portfolio{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_portfolio') }}">Bibliothèque de portfolios</a></li>
            {% if '/edit' in app.request.uri %}
                <li class="breadcrumb-item active" aria-current="page">Edition portfolio</li>
            {% elseif '/new' in app.request.uri %}
                <li class="breadcrumb-item active" aria-current="page">Nouveau portfolio</li>
            {% endif %}
        </ol>
    </nav>
    <div class="container">

        <div style="display: flex; justify-content: space-between">
            <div style="background-color: #e5daef; width: 32%; padding: 10px 25px">
                <div style="display: flex; align-items: center; justify-content: space-around">
                    <p style="margin: 0; font-size: 1.75rem">1</p>
                    <div>
                        <p style="margin: 0">Initialisation d'un portfolio</p>
                        <small>Completion après enregistrement</small>
                    </div>
                </div>
            </div>
            <div style="background-color: #e5daef; width: 32%; padding: 10px 25px">
                <div style="display: flex; align-items: center; justify-content: space-around">
                    <p style="margin: 0; font-size: 1.75rem">2</p>
                    <div>
                        <p style="margin: 0">Création d'une ou plusieurs pages</p>
                        <small>Qui regroupera un ensemble de traces</small>
                    </div>
                </div>
            </div>
            <div style="background-color: #e5daef; width: 32%; padding: 10px 25px">
                <div style="display: flex; align-items: center; justify-content: space-around">
                    <p style="margin: 0; font-size: 1.75rem">3</p>
                    <div>
                        <p style="margin: 0">Création ou ajout de traces</p>
                        <small>Depuis une page</small>
                    </div>
                </div>
            </div>
        </div>


        <section class="portfolio_form">
            <div class="row">
                <article class="col-lg-10 col-12">
                    <h2>Nouveau portfolio</h2>
                    {{ form_start(form) }}
                    <div class="hidden">
                        {{ form_row(form.date_creation) }}
                        {{ form_row(form.date_modification) }}
                    </div>
                    {{ form_row(form.intitule) }}

                    {{ form_label(form.banniere) }}
                    <div class="alert alert-info mb-2">
                        Si vous n'ajoutez pas de bannière, une image par défaut sera utilisée.
                    </div>
                    {{ form_widget(form.banniere) }}
                    {{ form_help(form.banniere) }}

                    {{ form_row(form.description) }}
                    {{ form_row(form.visibilite) }}
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    {{ form_end(form) }}

                </article>
            </div>
        </section>
    </div>
{% endblock %}

