{% extends 'base.html.twig' %}

{% block title %}UniFolio - Portfolio{% endblock %}

    {% block header %}
        {#        {% include "_menu.html.twig" %} #}
    {% endblock %}

{% block body %}

    <div class="content-container portfolios" {{ stimulus_controller('portfolioPage', { url: path('app_portfolio_show', {id:portfolio.id})}) }}>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
                {% if is_granted('ROLE_ETUDIANT') %}
                    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('app_portfolio') }}">Bibliothèque
                            de
                            portfolios</a></li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">Portfolio : {{ portfolio.intitule }}</li>
            </ol>
        </nav>


        <section class="portfolio-show card">
            <div class="row">

                {% if portfolio.etudiant.optAlternance == true %}
                    <div class="text-center alert alert-info" style="margin: 25px 0">
                        <i class="fa-regular fa-eye"></i>
                        <span>Recherche une alternance</span>
                    </div>
                {% elseif portfolio.etudiant.optStage == true %}
                    <div class="text-center alert alert-info" style="margin: 25px 0">
                        <i class="fa-regular fa-eye"></i>
                        <span>Recherche un stage</span>
                    </div>
                {% endif %}
                <div class="banner" style="background-image: url({{ asset(portfolio.banniere) }});">
                    <div class="title-container">
                        <h3 class="portfolio-title">{{ portfolio.intitule }}</h3>
                    </div>
                </div>

                <div {{ stimulus_target('trace', 'stepZone') }}{{ stimulus_target('portfolioPage', 'zone') }}>

                </div>
            </div>
        </section>
    </div>
{% endblock %}
