{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
    <div class="content-container cv_form">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_profil') }}">Profil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edition profil</li>
            </ol>
        </nav>
        <section>
            <div class="card">
                <article>
                    <h1>Edition du profil</h1>

                    {{ include('profil/_form.html.twig', {'button_label': 'Enregistrer'}) }}
                </article>
            </div>
        </section>
    </div>
    {#    <a href="{{ path('app_profil_edit_index') }}">back to list</a> #}

    {#    {{ include('profil_edit/_delete_form.html.twig') }} #}
{% endblock %}
