{% extends 'base.html.twig' %}

{% block title %}UniFolio - Profil{% endblock %}
    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profil</li>
        </ol>
    </nav>
    <div class="container">
        <h1>Profil</h1>
        <section class="profil">
            <div class="row btn-profil">
                <a href="{{ path('app_profil_edit_edit', {'id': app.user.etudiant.id}) }}">
                    <button>Editer le profil</button>
                </a>
            </div>
            <div class="row">
                <aside class="col-lg-2 col-12">
                    <ul>
                        <li>
                            Recherche :
                            <p>Alternance</p>
                        </li>
                        <li>
                            Email-personnel :
                            <p>{{ email_perso }}</p>
                        </li>
                        <li>
                            Email-universitaire :
                            <p>{{ email_univ }}</p>
                        </li>
                        <li>
                            Téléphone :
                            <p>{{ tel }}</p>
                        </li>
                        <li>
                            Référent :
                            <p>Nom Enseignant</p>
                        </li>
                    </ul>
                </aside>
                <article class="col-lg-10 col-12">
                    <h2>{{ prenom }} {{ nom }} ● <span>BUT2 - Métiers du multimédia et de l'internet</span></h2>
                    <h3>Spécialité : Développement web et dispositifs interactifs</h3>
                    <p><br>Vestibulum elementum odio lectus, vitae tempor ante viverra non. Vestibulum
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut scelerisque
                        bibendum ipsum, non tincidunt risus ultrices vel. Aliquam vulputate odio quis urna luctus
                        tristique.</p>
                    <div class="col-lg-10 col-12 btn-group">
                        <a href="#">
                            <button>Accéder au portfolio</button>
                        </a>
                        <a href="#">
                            <button>Accéder au CV</button>
                        </a>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-6">
                    <h2>UniFolio</h2>
                </div>
                <div class="col-lg-4 col-6">
                    <p>Institut Universitaire de technologie de Troyes</p>
                </div>
                <div class="col-lg-4 col-12">
                    <p>© Cyndel Herolt - IUT de Troyes. 2023</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
