{% extends 'base.html.twig' %}

{% block title %}UniFolio - Profil{% endblock %}
    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profil</li>
        </ol>
    </nav>
    <div class="container">
        <h1>Profil</h1>

        {% if is_granted('ROLE_ETUDIANT') %}

            <section class="profil">
                <div class="row">
                    <article  class="col-lg-7 col-12">
                        <div class="btn-profil">
                            <a href="{{ path('app_profil_edit_edit', {'id': app.user.etudiant.id}) }}">
                                <button>Editer le profil</button>
                            </a>
                        </div>
                        <h2>Informations d'identification</h2>
                        <div class="row">
                        <div class="col-lg-5 col-12">
                        <ul>
                            <li>Prénom Nom : {{ prenom }} {{ nom }}</li>
                            <li>Mail universitaire : {{ email_univ }}</li>
                            <li>Mail personnel : {{ email_perso }}</li>
                            <li>Téléphone : {{ tel }}</li>
                        </ul>
                        </div>
                        <div class="col-lg-7 col-12">
                            <p>Bio : {{ bio }}</p>
                        </div>
                        </div>
                    </article>
                    <aside  class="col-lg-4 col-12">
                        <h2>Informations universitaires</h2>
                        <ul>
                            <li>Diplôme : </li>
                            <li>Département : {{ data_user.departement.libelle }}</li>
                            <li>Spécialité :</li>
                        </ul>
                        <hr>
                        <p>Recherche une alternance</p>
                    </aside>
                </div>
            </section>

        {% elseif is_granted('ROLE_ENSEIGNANT') %}

            <section class="profil">
                <div class="row">
                    <article  class="col-lg-7 col-12">
                <div class="btn-profil">
                    <a href="{{ path('app_profil_edit_edit', {'id': app.user.enseignant.id}) }}">
                        <button>Editer le profil</button>
                    </a>
                </div>
                        <h2>Informations d'identification</h2>
                        <ul>
                            <li>Prénom Nom : {{ prenom }} {{ nom }}</li>
                            <li>Mail universitaire : {{ email_univ }}</li>
                            <li>Mail personnel : {{ email_perso }}</li>
                            <li>Téléphone : {{ tel }}</li>
                        </ul>
                    </article>
                    <aside  class="col-lg-4 col-12">
                        <h2>Informations universitaires</h2>
                        <ul>
                            <li>Département par défaut :
                                {% for dept in data_user.departementDefaut %}
                                {{ dept.libelle }}
                                {% endfor %}
                            </li>
                        </ul>
                    </aside>
                </div>
            </section>

        {% endif %}
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-6">
                    <h2>UniFolio</h2>
                </div>
                <div class="col-lg-4 col-6">
                    <p>Institut Universitaire de technologie de Troyes</p>
                </div>
                <div class="col-lg-4 col-12">
                    <p>© Cyndel Herolt - IUT de Troyes. 2023</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
