{% extends 'base.html.twig' %}

{% block title %}UniFolio - Tableau de bord{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    <div class="container dashboard">
        <p>Département {{ data_user.departement.libelle }}</p>
        <h1>Tableau de bord</h1>
        <section class="dashboard_retours_pedagogiques">
            <div class="row">
                <h2>Derniers retours pédagogiques</h2>
                <article class="col-lg-12 col-12">
                    <!-- todo: boucle sur les infos -->
                    <table>
                        <thead>
                        <tr>
                            <th>Nom de la trace | portfolio</th>
                            <th>Date de création</th>
                            <th>Auteur</th>
                            <th>Contenu du commentaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Portfolio 1</td>
                            <td>21/02/2023</td>
                            <td>Jane Doe</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                            <td class="table-btn">
                                <div class="btn-group">
                                    <a href="">
                                        <button><i class="fa-solid fa-comment-dots"></i></button>
                                    </a>
                                    <a href="">
                                        <button><i class="fa-solid fa-eye"></i></button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Trace 1</td>
                            <td>21/02/2023</td>
                            <td>John Doe</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</td>
                            <td class="table-btn">
                                <div class="btn-group">
                                    <a href="">
                                        <button><i class="fa-solid fa-comment-dots"></i></button>
                                    </a>
                                    <a href="">
                                        <button><i class="fa-solid fa-eye"></i></button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="aperçu_evaluation">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Nom de la trace</h5>
                                <p class="card-text">Compétence A <span><i class="fa-solid fa-check"></i></span></p>
                                <a href="#" class="card-link">
                                    <button><i class="fa-solid fa-eye"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Nom de la trace</h5>
                                <p class="card-text">Compétence A <span><i class="fa-solid fa-check"></i></span></p>
                                <p class="card-text">Compétence B <span><i class="fa-solid fa-xmark"></i></span></p>
                                <a href="#" class="card-link">
                                    <button><i class="fa-solid fa-eye"></i></button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Nom de la trace</h5>
                                <p class="card-text">Compétence A <span><i class="fa-solid fa-check"></i></span></p>
                                <a href="#" class="card-link">
                                    <button><i class="fa-solid fa-eye"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section class="dashboard_traces">
            <div class="row">
                <h2>Dernières traces créées</h2>
                <article class="col-lg-12 col-12">
                    {{ component('all_trace') }}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Créer une trace
                    </button>
                    <a href="{{ path('app_trace') }}">
                        <button>Bibliothèque de traces</button>
                    </a>
                </article>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">Types de traces</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    {% for trace in traces %}
                                        <li>
                                            <a href="{{ path('app_trace_new', {'id': constant('class', trace)}) }}"><i
                                                        class="{{ constant('ICON', trace) }}"></i>{{ trace.display }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="dashboard_portfolio ">
            <div class="row">
                <h2>Vos portfolios</h2>
                <article class="col-lg-12 col-12">
                    {{ component('all_portfolio') }}
                    <a href="{{ path('app_portfolio_new', {'id': app.user.etudiant.id}) }}">
                        <button>Créer un portfolio</button>
                    </a>
                    <a href="{{ path('app_portfolio') }}">
                        <button>Bibliothèque de portfolios</button>
                    </a>
                </article>
            </div>
        </section>
    </div>
    <footer>

        {% if admin == '/admin?_switch_user=_exit' %}
            <br>
            <a href="{{ admin }}">
                <button>back to admin</button>
            </a>
            <br>
        {% endif %}

    </footer>
{% endblock %}
