{% extends 'base.html.twig' %}

{% block title %}UniFolio - Tableau de bord{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    <div class="container dashboard">
        <section class="dashboard-controls">
            <article class="row g-4">
                <h1>Accès rapides</h1>
                <em>Illustrez vos compétences universitaires</em>
                <div class="col-lg-6 col-sm-12">
                    <div class="card d-flex flex-column h-100 card-etudiant">
                        <div class="card-body flex-grow-1 d-flex flex-column">
                            <h3><i class=" fa-regular fa-folder-open fa-xs
                        "></i> Portfolio</h3>
                            <p>Créez votre portfolio en ajoutant différentes pages pour chacun de vos travaux et
                                compétences
                                universitaires.</p>
                            <a href="{{ path('app_portfolio_new', {'id': app.user.etudiant.id}) }}">
                                <button class="btn btn-primary">Créer un portfolio</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="card d-flex flex-column h-100 card-etudiant">
                        <div class="card-body flex-grow-1 d-flex flex-column">
                            <h3><i class="fa-solid fa-photo-film fa-xs"></i> Trace</h3>
                            <p>Rédigez de brèves Traces qui illustreront l'acquisition de vos compétences universitaires
                                au sein de vos
                                pages de portfolio.</p>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                Créer une trace
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <section class="dashboard_retours_pedagogiques">
            <article class="row g-4">
                <h1>Derniers retours pédagogiques</h1>
                <em>Les derniers commentaires et dernières validations de compétences.</em>
                <div>
                    <i class="fa-solid fa-hourglass-half"
                       style="color: #4c008b"></i> En attente de validation
                    ·
                    <i class="fa-solid fa-xmark"
                       style="color: red"></i> Non acquis
                    ·
                    <i class="fa-solid fa-arrow-up"
                       style="color: orange"></i> En cours d'acquisition
                    ·
                    <i class="fa-solid fa-check"
                       style="color: limegreen"></i> Acquis
                </div>
                {{ component('AllRetourPedagogiqueComponent') }}
            </article>
        </section>
    </div>

    <div class="container dashboard">
        <section class="dashboard_traces">
            <article class="row g-4">
                <h1>Dernières traces créées</h1>
                <em>Les dernières traces que vous avez créées et les compétences associées.</em>
                <div>
                    <i class="fa-solid fa-hourglass-half"
                        style="color: #4c008b"></i> En attente de validation
                    ·
                    <i class="fa-solid fa-xmark"
                       style="color: red"></i> Non acquis
                    ·
                    <i class="fa-solid fa-arrow-up"
                       style="color: orange"></i> En cours d'acquisition
                    ·
                    <i class="fa-solid fa-check"
                       style="color: limegreen"></i> Acquis
                </div>
                {{ component('all_trace') }}
                <!-- Button trigger modal -->
                <div class="btn-group" style="margin-top: 1.5rem">
                    <a href="{{ path('app_trace') }}">
                        <button class="btn btn-primary">Bibliothèque de traces</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Créer une trace
                    </button>
                </div>
            </article>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Types de traces</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                {% for trace in traces %}
                                    <li>
                                        <a href="{{ path('app_trace_new', {'id': constant('class', trace)}) }}"><i
                                                    class="{{ constant('ICON', trace) }}"></i>{{ trace.display }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="container dashboard">
        <section class="dashboard_portfolio ">
            <article class="row g-4">
                <h1>Vos portfolios</h1>
                {{ component('all_portfolio') }}
                <div class="btn-group">
                    <a href="{{ path('app_portfolio') }}">
                        <button class="btn btn-primary">Bibliothèque de portfolios</button>
                    </a>
                    <a href="{{ path('app_portfolio_new', {'id': app.user.etudiant.id}) }}">
                        <button class="btn btn-secondary">Créer un portfolio</button>
                    </a>
                </div>
            </article>
        </section>
    </div>
{% endblock %}
