{% extends 'base.html.twig' %}

{% block title %}Hello DashboardEnseignantController!{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}


{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
    <div class="container dashboard">
        <h1>Tableau de bord</h1>

        <section class="dashboard_infos_groupe">
            {{ data_user.departement.libelle }}
            |
            {% for etudiant in data_user.etudiantsDept %}
            {{ etudiant.prenom }}
            {% endfor %}
            <div class="row">
                <h2>Ensemble des étudiants</h2>
                <article class="col-lg-12 col-12">
                    <div class="col-lg-12 col-12">
                        <form class="d-flex">
                            {#                            TODO: Recherche interne par Algolia ? #}
                            <input class="form-control me-2" type="search" placeholder="Chercher un étudiant"
                                   aria-label="Search">
                            <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    {#                    TODO: Affichage dynamique des années #}
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#but1etudiant"
                                    type="button" role="tab" aria-controls="but1etudiant" aria-selected="true">B.U.T 1
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#but2etudiant"
                                    type="button" role="tab" aria-controls="but2etudiant" aria-selected="false">B.U.T 2
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#but3etudiant"
                                    type="button" role="tab" aria-controls="but3etudiant" aria-selected="false">B.U.T 3
                            </button>
                        </li>
                    </ul>
                    {#                    TODO: Affichage dynamique des étudiants suivis + systeme de pages -> Live Components ? #}
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="but1etudiant" role="tabpanel"
                             aria-labelledby="but1etudiant-tab">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Trier par groupe de TP
                            </button>
                            {# TODO: Filtre affichage #}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
{#                                {% for groupe in groupes %}#}
{#                                    <li><a class="dropdown-item" href="#">{{ groupe.libelle }}</a></li>#}
{#                                {% endfor %}#}
                            </ul>
                            <div>
                                {{ component('all_suivi_etudiant') }}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="but2etudiant" role="tabpanel" aria-labelledby="but2etudiant-tab">
                            <table>
                                <thead>
                                <tr>
                                    <th>Nom de l'étudiant.e</th>
                                    <th>Groupe de TP</th>
                                    <th>Dernier retour pédagogique</th>
                                    <th>Traces</th>
                                    <th>Portfolios</th>
                                </tr>
                                </thead>
                                <tbody>
                                <h2>HELLO</h2>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="but3etudiant" role="tabpanel" aria-labelledby="but3etudiant-tab">
                            <table>
                                <thead>
                                <tr>
                                    <th>Nom de l'étudiant.e</th>
                                    <th>Groupe de TP</th>
                                    <th>Dernier retour pédagogique</th>
                                    <th>Traces</th>
                                    <th>Portfolios</th>
                                </tr>
                                </thead>
                                <tbody>
                                <h2>HELLO</h2>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="dashboard_retours_pedagogiques_enseignant">
            <div class="row">
                <h2>Ensemble des traces</h2>
                <article>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#but1trace"
                                    type="button" role="tab" aria-controls="but1trace" aria-selected="true">B.U.T 1
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#but2trace"
                                    type="button" role="tab" aria-controls="but2trace" aria-selected="false">B.U.T 2
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#but3trace"
                                    type="button" role="tab" aria-controls="but3trace" aria-selected="false">B.U.T 3
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="but1trace" role="tabpanel"
                             aria-labelledby="but1trace-tab">
                            <div>
                                BUT1
{#                                {{ component('all_suivi_trace') }}#}
                            </div>
                        </div>

                        <div class="tab-pane fade" id="but2trace" role="tabpanel" aria-labelledby="but2trace-tab">
                            <div>
                                BUT2
{#                                {{ component('all_suivi_trace') }}#}
                            </div>
                        </div>

                        <div class="tab-pane fade" id="but3trace" role="tabpanel" aria-labelledby="but3trace-tab">
                            <div>
                                BUT3
{#                                {{ component('all_suivi_trace') }}#}
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <footer>

        {% if admin == '/admin?_switch_user=_exit' %}

            <br>

            <a href="{{ admin }}">
                <button>back to admin</button>
            </a>

            <br>

        {% endif %}

    </footer>
{% endblock %}
