{% extends 'base.html.twig' %}

{% block title %}Hello DashboardEnseignantController!{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}


{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/html/UniFolio/src/Controller/DashboardEnseignantController.php'|file_link(0) }}">src/Controller/DashboardEnseignantController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/html/UniFolio/templates/dashboard_enseignant/index.html.twig'|file_link(0) }}">templates/dashboard_enseignant/index.html.twig</a></code></li>
    </ul>
</div>

    <a href="{{ path('app_logout') }}">LOGOUT</a>

    <footer>

        {% if admin == '/admin?_switch_user=_exit' %}

            <br>

            <a href="{{ admin }}"><button>back to admin</button></a>

            <br>

        {% endif %}

    </footer>
{% endblock %}
