{% extends 'base.html.twig' %}

{% block title %}UniFolio - Bilan pédagogique{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bilan pédagogique</li>
        </ol>
    </nav>

    <div class="container bilan">
        <section>
            <article class="row">
                <h2>Bilan pédagogique</h2>
                <div class="row g-4">
                    <div class="col-12">
                        {% if portfolios is empty %}
                        <div class="alert alert-warning" role="alert">
                            Aucun bilan pour le moment, créer un portfolio pour alimenter cette section.
                        </div>
                        {% else %}
                        {% for portfolio in portfolios %}
                            {% if portfolio.visibilite == 1 %}
                                <div class="card d-flex">
                                    <div class="card-content">
                                        <div class="card-header">
                                            <h3>{{ portfolio.annee.libelleLong }}</h3>
                                        </div>
                                        <div class="card-body">
                                            <h4>Validation des compétences</h4>
                                            {% set seen = [] %}
                                            <ul>
                                                {% for op in portfolio.ordrePages %}
                                                    {% for ot in op.page.ordreTraces %}
                                                        {% for validation in ot.trace.validations %}
                                                            {% if validation.apcNiveau.ordre == portfolio.annee.ordre %}
                                                                {% if validation.apcNiveau.libelle not in seen %}
                                                                    {% set totalApparitions = 0 %}
                                                                    {% set totalEtatTrois = 0 %}

                                                                    {% for validation2 in ot.trace.validations %}
                                                                        {% if validation2.apcNiveau.libelle == validation.apcNiveau.libelle %}
                                                                            {% set totalApparitions = totalApparitions + 1 %}
                                                                            {% if validation2.etat == 3 %}
                                                                                {% set totalEtatTrois = totalEtatTrois + 1 %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}

                                                                    <div class="accordion accordion-flush bilan-competences"
                                                                         id="accordionFlushExample">
                                                                        <div class="accordion-item">
                                                                            <div class="accordion-header"
                                                                                 id="flush-heading{{ validation.id }}">
                                                                                <button class="accordion-button collapsed"
                                                                                        type="button"
                                                                                        data-bs-toggle="collapse"
                                                                                        data-bs-target="#flush-collapse{{ validation.id }}"
                                                                                        aria-expanded="false"
                                                                                        aria-controls="flush-collapse{{ validation.id }}"
                                                                                        style="padding: 0">
                                                                                    <li class="col-12">
                                                                                        <div>
                                                                                            <span class="{{ validation.apcNiveau.competences.couleur }}">
                                                                                            {{ validation.apcNiveau.competences.nomCourt }}</span>
                                                                                            • {{ validation.apcNiveau.libelle }}
                                                                                        </div>
                                                                                        <div>
                                                                                            <span class="{{ validation.apcNiveau.competences.couleur }}">{{ (totalEtatTrois / totalApparitions) * 100 }}%</span>
                                                                                            {% set seen = seen|merge([validation.apcNiveau.libelle]) %}
                                                                                            <i class="fa-solid fa-chevron-down"></i>
                                                                                        </div>
                                                                                    </li>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="flush-collapse{{ validation.id }}"
                                                                         class="accordion-collapse collapse"
                                                                         aria-labelledby="flush-heading{{ validation.id }}"
                                                                         data-bs-parent="#accordionFlushExample">
                                                                        <div class="accordion-body">
                                                                            {% for opAll in portfolio.ordrePages %}
                                                                                {% for otAll in opAll.page.ordreTraces %}
                                                                                    {% for validationAll in otAll.trace.validations %}
                                                                                        {% if validationAll.apcNiveau.libelle == validation.apcNiveau.libelle %}
                                                                                            <li>
                                                                                                <div>{{ otAll.trace.titre }}
                                                                                                    {% if validation.etat == 0 %}
                                                                                                        <i class="fa-solid fa-hourglass-half"
                                                                                                           style="color: #4c008b"></i>
                                                                                                    {% elseif validation.etat == 1 %}
                                                                                                        <i class="fa-solid fa-xmark"
                                                                                                           style="color: red"></i>
                                                                                                    {% elseif validation.etat == 2 %}
                                                                                                        <i class="fa-solid fa-arrow-up"
                                                                                                           style="color: orange"></i>
                                                                                                    {% elseif validation.etat == 3 %}
                                                                                                        <i class="fa-solid fa-check"
                                                                                                           style="color: limegreen"></i>
                                                                                                    {% endif %}
                                                                                                </div>
                                                                                                <a href="{{ path('app_trace_index', {'id': otAll.trace.id}) }}">
                                                                                                    <button type="button"
                                                                                                            class="btn btn-secondary">
                                                                                                        Accéder à la
                                                                                                        trace
                                                                                                    </button>
                                                                                                </a>
                                                                                            </li>
                                                                                        {% endif %}
                                                                                    {% endfor %}
                                                                                {% endfor %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                                            <hr>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                            <h4>Commentaire</h4>
                                            {% set visibleComments = portfolio.commentaires|filter(commentaire => commentaire.visibilite == 1) %}
                                            {% if visibleComments is empty %}
                                                <p>Aucun commentaire pour le moment</p>
                                            {% else %}
                                                {% for commentaire in portfolio.commentaires %}
                                                    {% if commentaire.visibilite == 1 %}
                                                        <div class="card"
                                                             style="margin-bottom: 10px; box-shadow: none; border: 1px solid lightgrey">
                                                            <div class="card-header">
                                                                <div style="display: flex; justify-content: space-between; align-items: center">
                                                                    <h6 class="card-subtitle">{{ commentaire.enseignant.prenom }} {{ commentaire.enseignant.nom }}</h6>
                                                                    <small>
                                                                        {{ commentaire.datecreation|date('d-m-Y H:i') }}
                                                                    </small>
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <p class="card-text">{{ commentaire.contenu }}</p>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </article>
        </section>
    </div>
{% endblock %}
