{# templates/components/all_trace.html.twig #}
<article {{ attributes }}>

    {% if '/dashboard' in app.request.uri %}

    <div class="row g-4">
        {% for trace in this.allTrace|slice(0,4) %}
            {{ component('trace_table', {'id': trace.id}) }}
        {% endfor %}
    </div>

    {% else %}
    <div class="row">
        <div class="accordion accordion-flush col-6" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                        Filtrer par compétences
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body row">
                        <div>
                            <h6>Compétences</h6>
                            <fieldset>
                                {% for competenceChoice in this.competences %}
                                    <div style="display: flex" class="form-check">
                                        <input type="checkbox" id="{{ competenceChoice.id }}"
                                               name="{{ competenceChoice.id }}"
                                               data-model="selectedCompetences[]"
                                               data-action="live#action"
                                               data-action-name="changeCompetences"
                                               value="{{ competenceChoice.id }}"
                                               class="form-check-input">
                                        <label for="{{ competenceChoice.id }}" style="margin-left: 10px"
                                               class="form-check-label">{{ competenceChoice.libelle }}</label><br>
                                    </div>
                                {% endfor %}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion accordion-flush col-6" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                        Trier par
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body row">
                        <div>
                            <fieldset>
                                <h6>Date</h6>
                                <div style="display: flex" class="form-check">
                                    <input type="checkbox" id="dateAsc"
                                           name="dateAsc"
                                           data-model="selectedOrdreDate"
                                           data-action="live#action"
                                           data-action-name="changeOrdreDate"
                                           value="ASC"
                                           class="form-check-input">
                                    <label for="dateAsc" style="margin-left: 10px"
                                           class="form-check-label">Ordre croissant</label><br>
                                </div>
                                <div style="display: flex" class="form-check">
                                    <input type="checkbox" id="dateDesc"
                                           name="dateDesc"
                                           data-model="selectedOrdreDate"
                                           data-action="live#action"
                                           data-action-name="changeOrdreDate"
                                           value="DESC"
                                           class="form-check-input">
                                    <label for="dateDesc" style="margin-left: 10px"
                                           class="form-check-label">Ordre décroissant</label><br>
                                </div>
                                <h6>Validation</h6>
                                <div style="display: flex" class="form-check">
                                    <input type="checkbox" id="validationAsc"
                                           name="validationAsc"
                                           data-model="selectedOrdreValidation"
                                           data-action="live#action"
                                           data-action-name="changeOrdreValidation"
                                           value="ASC"
                                           class="form-check-input">
                                    <label for="validationAsc" style="margin-left: 10px"
                                           class="form-check-label">Ordre croissant</label><br>
                                </div>
                                <div style="display: flex" class="form-check">
                                    <input type="checkbox" id="validationDesc"
                                           name="validationDesc"
                                           data-model="selectedOrdreValidation"
                                           data-action="live#action"
                                           data-action-name="changeOrdreValidation"
                                           value="DESC"
                                           class="form-check-input">
                                    <label for="validationDesc" style="margin-left: 10px"
                                           class="form-check-label">Ordre décroissant</label><br>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <article class="row g-4">
        {% if this.allTraces is empty %}
            <div class="alert alert-warning" role="alert">
                Aucune trace n'a été trouvée.
            </div>
        {% else %}
        {% for trace in this.allTraces %}
            {{ component('trace_card', {'id': trace.id}) }}
        {% endfor %}
        {% endif %}
    </article>

{% endif %}