{# templates/components/all_trace.html.twig #}
<div {{ attributes }}>

    {% if '/dashboard' in app.request.uri %}

    <div class="row g-4">
            {% for trace in this.allTrace|slice(0,4) %}
                {{ component('trace_table', {'id': trace.id}) }}
            {% endfor %}
    </div>

    {% else %}

        <div class="row">
            <div class="accordion accordion-flush col-12" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            Filtrer par compétences
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body row">
                            <div>
                                <h6>Compétences</h6>
                                <fieldset>
                                    {% for competenceChoice in this.competences %}
                                        <div style="display: flex" class="form-check">
                                            <input type="checkbox" id="{{ competenceChoice.id }}"
                                                   name="{{ competenceChoice.id }}"
                                                   data-model="selectedCompetences[]"
                                                   data-action="live#action"
                                                   data-action-name="changeCompetences"
                                                   value="{{ competenceChoice.id }}"
                                                   class="form-check-input">
                                            <label for="{{ competenceChoice.id }}" style="margin-left: 10px"
                                                   class="form-check-label">{{ competenceChoice.libelle }}</label><br>
                                        </div>
                                    {% endfor %}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for trace in this.allTraces|sort((a,b)=> a.dateModification <=> b.dateModification) %}
                {{ component('trace_card', {'id': trace.id}) }}
            {% endfor %}
        </div>

    {% endif %}
</div>