<div{{ attributes }}>
    <div class="alert alert-info">
        Si un portfolio est marqué d'un badge check, cela signifie que toutes les compétences de l'ensemble des traces qu'il contient ont été évaluées.
    </div>
    <div class="col-12">
        <p class="text-muted">
            Filtres
        </p>
    </div>
        <div class="row">
            <div class="filtre-btn col-12">
                <button class="btn btn-primary"
                        data-model="selectedSemestre[]"
                        data-action="live#action"
                        data-action-name="changeSemestre(id=0)"
                        {{ this.selectedSemestre == null ? ' disabled' : '' }}
                >Tous les semestres</button>
                {% for semestre in semestres %}
                    <button class="btn btn-primary"
                            data-model="selectedSemestre[]"
                            data-action="live#action"
                            data-action-name="changeSemestre(id={{ semestre.id }})"
                            {{ this.selectedSemestre == semestre ? ' disabled' : '' }}
                    >{{ semestre.libelle }}</button>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="accordion accordion-flush col-4 g-4 filter-drop" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                            Filtrer par compétences
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body row">
                            <div>
                                <fieldset style="max-height: 200px; overflow-y: scroll;">
                                    {% for cpt in niveaux %}
                                        <div style="display: flex" class="form-check">
                                            <input type="checkbox" id="{{ cpt.id }}"
                                                   name="{{ cpt.id }}"
                                                   data-model="selectedCompetences[]"
                                                   data-action="live#action"
                                                   data-action-name="changeCompetences"
                                                   value="{{ cpt.id }}"
                                                   class="form-check-input">
                                            <label for="{{ cpt.id }}" style="margin-left: 10px"
                                                   class="form-check-label">{{ cpt.libelle }}</label><br>
                                        </div>
                                        <hr>
                                    {% endfor %}

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion accordion-flush col-4 g-4 filter-drop" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                            Filtrer par groupes
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body row">
                            <div>
                                <fieldset style="max-height: 200px; overflow-y: scroll;">
                                    {% if this.selectedSemestre == null %}

                                        {% for grp in this.groupes %}
                                            {% if grp.typeGroupe.type == 'TP' %}
                                                <small>
                                                    {% if grp.apcParcours is not null %}
                                                        {{ grp.apcParcours.libelle }}
                                                        |
                                                        {% for semestre in grp.typeGroupe.semestre|filter(semestre => (semestre.annee.diplome.apcParcours == grp.apcParcours)) %}
                                                            {{ semestre.libelle }}
                                                        {% endfor %}
                                                    {% else %}
                                                        S1
                                                    {% endif %}
                                                </small>
                                                <div style="display: flex" class="form-check">
                                                    <input type="checkbox" id="{{ grp.id }}"
                                                           name="{{ grp.id }}"
                                                           data-model="selectedGroupes[]"
                                                           data-action="live#action"
                                                           data-action-name="changeGroupes"
                                                           value="{{ grp.id }}"
                                                           class="form-check-input">
                                                    <label for="{{ grp.id }}" style="margin-left: 10px"
                                                           class="form-check-label">
                                                        {{ grp.libelle }}
                                                    </label><br>
                                                </div>
                                                <hr>
                                            {% endif %}
                                        {% endfor %}

                                    {% else %}

                                        {% for grp in this.groupes|filter(grp => this.selectedSemestre != null and (grp.apcParcours == this.selectedSemestre.annee.diplome.apcParcours )) %}
                                            {% if grp.typeGroupe.type == 'TP' %}
                                                <small>
                                                    {% if grp.apcParcours is not null %}
                                                        {{ grp.apcParcours.code }}
                                                        |
                                                        {% for semestre in grp.typeGroupe.semestre|filter(semestre => (semestre.annee.diplome.apcParcours == grp.apcParcours)) %}
                                                            {{ semestre.libelle }}
                                                        {% endfor %}
                                                    {% else %}
                                                        S1
                                                    {% endif %}
                                                </small>
                                                <div style="display: flex" class="form-check">
                                                    <input type="checkbox" id="{{ grp.id }}"
                                                           name="{{ grp.id }}"
                                                           data-model="selectedGroupes[]"
                                                           data-action="live#action"
                                                           data-action-name="changeGroupes"
                                                           value="{{ grp.id }}"
                                                           class="form-check-input">
                                                    <label for="{{ grp.id }}" style="margin-left: 10px"
                                                           class="form-check-label">
                                                        {{ grp.libelle }}
                                                    </label><br>
                                                </div>
                                                <hr>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion accordion-flush col-4 g-4 filter-drop" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                            Filtrer par étudiants
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body row">
                            <div>
                                <fieldset style="max-height: 200px; overflow-y: scroll;">
                                    {% for etudiant in this.etudiants %}
                                        <div style="display: flex" class="form-check">
                                            <input type="checkbox" id="{{ etudiant.id }}"
                                                   name="{{ etudiant.id }}"
                                                   data-model="selectedEtudiants[]"
                                                   data-action="live#action"
                                                   data-action-name="changeEtudiants"
                                                   value="{{ etudiant.id }}"
                                                   class="form-check-input">
                                            <label for="{{ etudiant.id }}" style="margin-left: 10px"
                                                   class="form-check-label">{{ etudiant.prenom }} {{ etudiant.nom }}</label><br>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <hr>
    <div class="row">
        <div class="filtre-btn col-12">
            <div class="filtre-btn col-12">
                <button class="btn btn-secondary"
                        data-model="selectedEtat"
                        data-action="live#action"
                        data-action-name="changeEtat(id=0)"
                        {{ this.selectedEtat == 0 ? ' disabled' : '' }}
                >Tous les portfolios
                </button>
                <button class="btn btn-secondary"
                        data-model="selectedEtat"
                        data-action="live#action"
                        data-action-name="changeEtat(id=1)"
                        {{ this.selectedEtat == 1 ? ' disabled' : '' }}
                >Portfolios évalués
                </button>
                <button class="btn btn-secondary"
                        data-model="selectedEtat"
                        data-action="live#action"
                        data-action-name="changeEtat(id=2)"
                        {{ this.selectedEtat == 2 ? ' disabled' : '' }}
                >Portfolios non évalués
                </button>
            </div>
        </div>
    </div>

        <div class="row">
            {% for portfolio in this.allPortfolios|sort((a,b)=> a.dateModification <=> b.dateModification) %}
                {{ component('PortfolioEvalCardComponent', {'id': portfolio.id, 'key': portfolio.id}) }}
            {% endfor %}
        </div>

        <div class="btn-pages">
            <button class="btn btn-primary"
                    data-action="live#action"
                    data-action-name="goToFirstPage"
                    {{ this.currentPage == 1 or this.currentPage == 0 ? ' disabled' : '' }}
            >
                <i class="fa-solid fa-chevrons-left"></i>
            </button>

            <button class="btn btn-primary"
                    data-action="live#action"
                    data-action-name="goPreviousPage"
                    {{ this.currentPage == 1 or this.currentPage == 0 ? ' disabled' : '' }}
            >
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <small>
                Page {{ this.currentPage }} / {{ this.getTotalPages }}
            </small>
            <button class="btn btn-primary"
                    data-action="live#action"
                    data-action-name="goNextPage"
                    {{ this.currentPage == this.getTotalPages ? ' disabled' : '' }}
            >
                <i class="fa-solid fa-chevron-right"></i>
            </button>

            <button class="btn btn-primary"
                    data-action="live#action"
                    data-action-name="goToLastPage"
                    {{ this.currentPage == this.getTotalPages ? ' disabled' : '' }}>
                <i class="fa-solid fa-chevrons-right"></i>
            </button>
        </div>

</div>