<div{{ attributes }}>
    <div class="row">
        <div class="filtre-btn col-12">
            {% for semestre in semestres %}
                <button class="btn btn-primary"
                        data-model="selectedSemestre[]"
                        data-action="live#action"
                        data-action-name="changeSemestre(id={{ semestre.id }})"
                >{{ semestre.libelle }}</button>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="accordion accordion-flush col-4 g-4 filter-drop" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false"
                            aria-controls="flush-collapseOne">
                        Filtrer par compétences
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body row">
                        <div>
                            <fieldset style="max-height: 200px; overflow-y: scroll;">
                                {% for cpt in niveaux %}
                                    <div style="display: flex" class="form-check">
                                        <input type="checkbox" id="{{ cpt.id }}"
                                               name="{{ cpt.id }}"
                                               data-model="selectedCompetences[]"
                                               data-action="live#action"
                                               data-action-name="changeCompetences"
                                               value="{{ cpt.id }}"
                                               class="form-check-input">
                                        <label for="{{ cpt.id }}" style="margin-left: 10px"
                                               class="form-check-label">{{ cpt.libelle }}</label><br>
                                    </div>
                                    <hr>
                                {% endfor %}

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion accordion-flush col-4 g-4 filter-drop" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwo">
                        Filtrer par groupes
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body row">
                        <div>
                            <fieldset style="max-height: 200px; overflow-y: scroll;">
                                {% if this.selectedSemestre == null %}

                                {% for grp in this.groupes %}
                                    {% if grp.typeGroupe.type == 'TP' %}
                                        <small>
                                            {% if grp.apcParcours is not null %}
                                                {{ grp.apcParcours.libelle }}
                                                |
                                                {% for semestre in grp.typeGroupe.semestre|filter(semestre => (semestre.annee.diplome.apcParcours == grp.apcParcours)) %}
                                                    {{ semestre.libelle }}
                                                {% endfor %}
                                            {% else %}
                                                S1
                                            {% endif %}
                                        </small>
                                        <div style="display: flex" class="form-check">
                                            <input type="checkbox" id="{{ grp.id }}"
                                                   name="{{ grp.id }}"
                                                   data-model="selectedGroupes[]"
                                                   data-action="live#action"
                                                   data-action-name="changeGroupes"
                                                   value="{{ grp.id }}"
                                                   class="form-check-input">
                                            <label for="{{ grp.id }}" style="margin-left: 10px"
                                                   class="form-check-label">
                                                {{ grp.libelle }}
                                            </label><br>
                                        </div>
                                        <hr>
                                    {% endif %}
                                {% endfor %}

                                {% else %}

                                {% for grp in this.groupes|filter(grp => this.selectedSemestre != null and (grp.apcParcours == this.selectedSemestre.annee.diplome.apcParcours )) %}
                                    {% if grp.typeGroupe.type == 'TP' %}
                                        <small>
                                            {% if grp.apcParcours is not null %}
                                                {{ grp.apcParcours.code }}
                                                |
                                                {% for semestre in grp.typeGroupe.semestre|filter(semestre => (semestre.annee.diplome.apcParcours == grp.apcParcours)) %}
                                                    {{ semestre.libelle }}
                                                {% endfor %}
                                            {% else %}
                                                S1
                                            {% endif %}
                                        </small>
                                        <div style="display: flex" class="form-check">
                                            <input type="checkbox" id="{{ grp.id }}"
                                                   name="{{ grp.id }}"
                                                   data-model="selectedGroupes[]"
                                                   data-action="live#action"
                                                   data-action-name="changeGroupes"
                                                   value="{{ grp.id }}"
                                                   class="form-check-input">
                                            <label for="{{ grp.id }}" style="margin-left: 10px"
                                                   class="form-check-label">
                                                {{ grp.libelle }}
                                            </label><br>
                                        </div>
                                        <hr>
                                    {% endif %}
                                {% endfor %}

                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush col-4 g-4 filter-drop" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                        Filtrer par étudiants
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body row">
                        <div>
                            <fieldset style="max-height: 200px; overflow-y: scroll;">
                                {% for etudiant in this.etudiants %}
                                    <small>
                                        {{ etudiant.semestre.libelle }}
                                    </small>
                                    <div style="display: flex" class="form-check">
                                        <input type="checkbox" id="{{ etudiant.id }}"
                                               name="{{ etudiant.id }}"
                                               data-model="selectedEtudiants[]"
                                               data-action="live#action"
                                               data-action-name="changeEtudiants"
                                               value="{{ etudiant.id }}"
                                               class="form-check-input">
                                        <label for="{{ etudiant.id }}" style="margin-left: 10px"
                                               class="form-check-label">{{ etudiant.prenom }} {{ etudiant.nom }}</label><br>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for trace in this.getDisplayedTraces|sort((a,b)=> a.dateModification <=> b.dateModification) %}
            {{ component('TraceEvalCardComponent', {'id': trace.id}) }}
        {% endfor %}
    </div>

    <div class="btn-pages">
        {# Affiche le bouton pour aller à la première page #}
        <button class="btn btn-primary"
                data-action="live#action"
                data-action-name="goToFirstPage"
                {{ this.currentPage == 1 or this.currentPage == 0 ? ' disabled' : '' }}
        >
            <i class="fa-solid fa-chevrons-left"></i>
        </button>

        <button class="btn btn-primary"
                data-action="live#action"
                data-action-name="goPreviousPage"
                {{ this.currentPage == 1 or this.currentPage == 0 ? ' disabled' : '' }}
        >
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <small>
            Page {{ this.currentPage }} / {{ this.getTotalPages }}
        </small>
        <button class="btn btn-primary"
                data-action="live#action"
                data-action-name="goNextPage"
                {{ this.currentPage == this.getTotalPages ? ' disabled' : '' }}
        >
            <i class="fa-solid fa-chevron-right"></i>
        </button>

        {# Affiche le bouton pour aller à la dernière page #}
        <button class="btn btn-primary"
                data-action="live#action"
                data-action-name="goToLastPage"
                {{ this.currentPage == this.getTotalPages ? ' disabled' : '' }}
        >
            <i class="fa-solid fa-chevrons-right"></i>
        </button>
    </div>
</div>
