{% if '/cv' in app.request.uri %}

    <div class="col-lg-6 col-sm-12">
        <div class="card h-100 d-flex flex-column">
            <div class="card-content">
                <div class="card-header d-flex flex-column">
                    <h5 class="card-title">{{ this.cv.intitule }}</h5>
                    <h6>{{ this.cv.poste }}</h6>
                    <ul class="card-infos-min">
                        <li><span>Créée le :&nbsp;</span> {{ this.cv.datecreation|date('d-m-y') }}</li>
                        <li>•</li>
                        <li><span>Modifiée le :&nbsp;</span> {{ this.cv.datemodification|date('d-m-y') }}</li>
                        <li>•</li>
                        <li><span>lié à :&nbsp;</span>
                        {% if this.cv.portfolio|length >= 1 %}
                            {% for portfolio in this.cv.portfolio %}
                                {{ portfolio.intitule }}
                            {% endfor %}
                        {% else %}
                            aucun portfolio
                        {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="card-body">

                    <p class="card-text">
                        {% if this.cv.description|length>250 %}
                            {{ this.cv.description|slice(0, 100) ~ '...' }}
                        {% else %}
                            {{ this.cv.description }}
                        {% endif %}
                    </p>

                    <div class="btn_grp">
                        <a href="{{ path('app_cv_show', {'id': this.cv.id}) }}">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#showStaticBackdrop{{ this.cv.id }}">
                                Voir plus
                            </button>
                        </a>

                        <a href="{{ path('app_cv_edit', {'id': this.cv.id}) }}">
                            <button class="btn btn-primary">Modifier</button>
                        </a>

                        <!-- Button trigger modal -->
                        <a>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop{{ this.cv.id }}">
                                Supprimer
                            </button>
                        </a>

                    </div>
                </div>
                <!-- Modal delete -->
                <div class="modal fade" id="staticBackdrop{{ this.cv.id }}" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous vraiment supprimer ce CV
                                    ?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>La page {{ this.cv.intitule }} sera supprimée.</p>
                                <p style="color: red">Attention, cette action est irréversible !</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_cv_delete', {'id': this.cv.id}) }}">
                                    <button class="btn btn-primary">Supprimer</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endif %}
