{% if '/cv' in app.request.uri %}

    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <div class="card-content">
                <a class="btn-see">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#showStaticBackdrop{{ this.cv.id }}">
                        <i class="fa fa-eye"></i>
                    </button>
                </a>
                <h3 class="card-title">{{ this.cv.intitule }}</h3>
                <hr>
                <p class="card-text">Dernière modification
                    : {{ this.cv.datemodification is empty ? this.cv.datecreation|date('d-m-Y H:i') : this.cv.datemodification|date('d-m-Y H:i') }}
                </p>
                <p class="card-text">
                    Afficher le nom et la visibilité du portfolio auquel est lié le CV
                </p>

                <div class="btn_grp">
                    <a href="{{ path('app_cv_edit', {'id': this.cv.id}) }}">
                        <button class="btn btn-primary">Modifier</button>
                    </a>

                    <!-- Button trigger modal -->
                    <a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{ this.cv.id }}">
                            Supprimer
                        </button>
                    </a>

                    <a href="">
                        <button class="btn btn-primary">Ajouter à un portfolio</button>
                    </a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop{{ this.cv.id }}" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous vraiment supprimer ce CV ?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>La page {{ this.cv.intitule }} sera supprimée.</p>
                            <p style="color: red">Attention, cette action est irréversible !</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('app_cv_delete', {'id': this.cv.id}) }}">
                                <button class="btn btn-primary">Supprimer</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2eme Modal -->
            <div class="modal fade" id="showStaticBackdrop{{ this.cv.id }}" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">{{ this.cv.intitule }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body row modal_cv" style="display: flex">
                            <div class="cv_content col-10">

                                <div class="cv_header">
                                    <h2>{{ this.cv.etudiant.prenom }} {{ this.cv.etudiant.nom }}</h2>
                                    <h3>{{ this.cv.poste }}</h3>
                                </div>
                                <hr>
                                <div class="cv_profile row">
                                    <div class="contact col-5">
                                        <h4>Contact</h4>
                                        <ul>
                                            <li><i class="fa fa-envelope"></i> {{ this.cv.etudiant.mailUniv }}</li>
                                            <li><i class="fa fa-phone"></i> {{ this.cv.etudiant.telephone }}</li>
                                        </ul>
                                    </div>
                                    <div class="description col-7">
                                        <h4>A propos</h4>
                                        <p>{{ this.cv.description }}</p>
                                    </div>
                                </div>
                                <div class="cv_exp row">
                                    <div class="col-6">
                                        <h4>Expériences</h4>
                                        <ul>
                                            {% for experience in this.cv.experience %}
                                                <li>
                                                    <h5>{{ experience.poste }}</h5>
                                                    <p>{{ experience.entreprise }}</p>
                                                    <p>{{ experience.dateDebut }}</p>
                                                    <p>{{ experience.dateFin }}</p>
                                                <ul>
                                                    {% for activite in experience.activite %}
                                                        <li>{{ activite }}</li>
                                                    {% endfor %}
                                                </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <h4>Formations</h4>
                                        <ul>
                                            {% for formation in this.cv.formation %}
                                                <li>
                                                    <h5>{{ formation.diplome }}</h5>
                                                    <p>{{ formation.etablissement }}</p>
                                                    <p>{{ formation.dateDebut }}</p>
                                                    <p>{{ formation.dateFin }}</p>
                                                    <ul>
                                                        {% for activite in formation.activite %}
                                                            <li>{{ activite }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="cv_competences">
                                    <h4>Compétences</h4>
                                    <ul>
                                        <h5>Soft skills</h5>
                                        {% for soft_skill in this.cv.softSkills %}
                                            <li>{{ soft_skill }}</li>
                                        {% endfor %}
                                    </ul>
                                    <ul>
                                        <h5>Hard skills</h5>
                                        {% for hard_skill in this.cv.hardSkills %}
                                            <li>{{ hard_skill }}</li>
                                        {% endfor %}
                                    </ul>
                                    <ul>
                                        <h5>Langues</h5>
                                        {% for langue in this.cv.langues %}
                                            <li>{{ langue }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="cv_reseaux">
                                    <h4>Réseaux sociaux</h4>
                                    <ul>
                                        {% for reseau in this.cv.reseaux %}
                                            {% if reseau matches '/.*twitter.*/' %}
                                                <a href="{{ reseau }}" target="_blank"><i
                                                            class="fa-brands fa-twitter fa-2x"></i></a>
                                            {% elseif reseau matches '/.*linkedin.*/' %}
                                                <a href="{{ reseau }}" target="_blank"><i
                                                            class="fa-brands fa-linkedin fa-2x"></i></a>
                                            {% elseif reseau matches '/.*github.*/' %}
                                                <a href="{{ reseau }}" target="_blank"><i
                                                            class="fa-brands fa-github fa-2x"></i></a>
                                            {% elseif reseau matches '/.*dribbble.*/' %}
                                                <a href="{{ reseau }}" target="_blank"><i
                                                            class="fa-brands fa-dribbble fa-2x"></i></a>
                                            {% elseif reseau matches '/.*pinterest.*/' %}
                                                <a href="{{ reseau }}" target="_blank"><i
                                                            class="fa-brands fa-pinterest fa-2x"></i></a>
                                            {% elseif reseau matches '/.*instagram.*/' %}
                                                <a href="{{ reseau }}" target="_blank"><i
                                                            class="fa-brands fa-instagram fa-2x"></i></a>
                                            {% elseif reseau matches '/.*facebook.*/' %}
                                                <a href="{{ reseau }}" target="_blank"><i
                                                            class="fa-brands fa-facebook fa-2x"></i></a>
                                            {% else %}
                                                <a href="{{ reseau }}" target="_blank"><i
                                                            class="fa fa-globe fa-2x"></i></a>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <ul>
                                <li>créé le : {{ this.cv.dateCreation|date('d/m/y H:i') }}</li>
                                <li>modifié le : {{ this.cv.dateModification|date('d/m/y H:i') }}</li>
                            </ul>
                            <a href="{{ path('app_cv_edit', {'id': this.cv.id}) }}">
                                <button class="btn btn-primary">Modifier</button>
                            </a>
                            <!-- Button trigger modal -->
                            <a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop{{ this.cv.id }}">
                                    Supprimer
                                </button>
                            </a>

                            <a href="">
                                <button class="btn btn-primary">Ajouter dans un portfolio</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}
