{% if '/cv' in app.request.uri %}

    <div class="col-lg-6 col-sm-12">
        <div class="card h-100 d-flex flex-column">
            <div class="card-content">
                <div class="card-header d-flex flex-column">
                    <h5 class="card-title">{{ this.cv.intitule }}</h5>
                    <h6>{{ this.cv.poste }}</h6>
                    <ul class="card-infos-min">
                        <li><span>Créée le :&nbsp;</span> {{ this.cv.datecreation|date('d-m-y') }}</li>
                        <li>•</li>
                        <li><span>Modifiée le :&nbsp;</span> {{ this.cv.datemodification|date('d-m-y') }}</li>
                        <li>•</li>
                        <li><span>lié à :&nbsp;</span>
                        {% if this.cv.portfolio|length >= 1 %}
                            {% for portfolio in this.cv.portfolio %}
                                {{ portfolio.intitule }}
                            {% endfor %}
                        {% else %}
                            aucun portfolio
                        {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="card-body">

                    <p class="card-text">
                        {% if this.cv.description|length>250 %}
                            {{ this.cv.description|slice(0, 100) ~ '...' }}
                        {% else %}
                            {{ this.cv.description }}
                        {% endif %}
                    </p>

                    <div class="btn_grp">
                        <a href="#">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#showStaticBackdrop{{ this.cv.id }}">
                                Voir plus
                            </button>
                        </a>

                        <a href="{{ path('app_cv_edit', {'id': this.cv.id}) }}">
                            <button class="btn btn-primary">Modifier</button>
                        </a>

                        <!-- Button trigger modal -->
                        <a>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop{{ this.cv.id }}">
                                Supprimer
                            </button>
                        </a>

                    </div>
                </div>
                <!-- Modal delete -->
                <div class="modal fade" id="staticBackdrop{{ this.cv.id }}" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous vraiment supprimer ce CV
                                    ?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>La page {{ this.cv.intitule }} sera supprimée.</p>
                                <p style="color: red">Attention, cette action est irréversible !</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{{ path('app_cv_delete', {'id': this.cv.id}) }}">
                                    <button class="btn btn-primary">Supprimer</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal visu -->
                <div class="modal fade" id="showStaticBackdrop{{ this.cv.id }}" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">{{ this.cv.intitule }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body row modal_cv" style="display: flex">
                                <div class="cv_header row">
                                    <div class="col-8">
                                        <h2>{{ this.cv.etudiant.prenom }} {{ this.cv.etudiant.nom }}</h2>
                                        <h3>{{ this.cv.poste }}</h3>
                                    </div>
                                    <div class="col-4 contact">
                                        <ul>
                                            <li><i class="fa fa-envelope"></i> {{ this.cv.etudiant.mailUniv }}</li>
                                            <li><i class="fa fa-phone"></i> {{ this.cv.etudiant.telephone }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                                <div class="cv_content row">
                                    <aside class="col-lg-4 col-12">
                                        <div class="cv_profile">
                                            <div class="description">
                                                <h4>A propos</h4>
                                                <p>{{ this.cv.description }}</p>
                                            </div>
                                        </div>
                                        <div class="cv_competences">
                                            <h4>Compétences</h4>
                                            <h5>Soft skills</h5>
                                            <ul>
                                                {% for soft_skill in this.cv.softSkills %}
                                                    <li>{{ soft_skill }}</li>
                                                {% endfor %}
                                            </ul>
                                            <h5>Hard skills</h5>
                                            <ul>
                                                {% for hard_skill in this.cv.hardSkills %}
                                                    <li>{{ hard_skill }}</li>
                                                {% endfor %}
                                            </ul>
                                            <h5>Langues</h5>
                                            <ul>
                                                {% for langue in this.cv.langues %}
                                                    <li>{{ langue }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="cv_reseaux">
                                            <h4>Réseaux sociaux</h4>
                                            <ul>
                                                {% for reseau in this.cv.reseaux %}
                                                    {% if reseau matches '/.*twitter.*/' %}
                                                        <a href="{{ reseau }}" target="_blank"><i
                                                                    class="fa-brands fa-twitter fa-2x"></i></a>
                                                    {% elseif reseau matches '/.*linkedin.*/' %}
                                                        <a href="{{ reseau }}" target="_blank"><i
                                                                    class="fa-brands fa-linkedin fa-2x"></i></a>
                                                    {% elseif reseau matches '/.*github.*/' %}
                                                        <a href="{{ reseau }}" target="_blank"><i
                                                                    class="fa-brands fa-github fa-2x"></i></a>
                                                    {% elseif reseau matches '/.*dribbble.*/' %}
                                                        <a href="{{ reseau }}" target="_blank"><i
                                                                    class="fa-brands fa-dribbble fa-2x"></i></a>
                                                    {% elseif reseau matches '/.*pinterest.*/' %}
                                                        <a href="{{ reseau }}" target="_blank"><i
                                                                    class="fa-brands fa-pinterest fa-2x"></i></a>
                                                    {% elseif reseau matches '/.*instagram.*/' %}
                                                        <a href="{{ reseau }}" target="_blank"><i
                                                                    class="fa-brands fa-instagram fa-2x"></i></a>
                                                    {% elseif reseau matches '/.*facebook.*/' %}
                                                        <a href="{{ reseau }}" target="_blank"><i
                                                                    class="fa-brands fa-facebook fa-2x"></i></a>
                                                    {% else %}
                                                        <a href="{{ reseau }}" target="_blank"><i
                                                                    class="fa fa-globe fa-2x"></i></a>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </aside>
                                    <article class="col-lg-7 col-12">
                                        <div class="cv_exp">
                                            <h4>Expériences</h4>
                                            <ul>
                                                {% for experience in this.cv.experience %}
                                                    <li>{{ experience.dateDebut|date('d/m/Y') }}
                                                        - {{ experience.dateFin|date('d/m/Y') }}</li>
                                                    <li><strong>{{ experience.poste }}</strong></li>
                                                    <li>{{ experience.entreprise }}</li>
                                                    <ul class="activites">
                                                        {% for activite in experience.activite %}
                                                            <li>{{ activite }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                    <hr>
                                                {% endfor %}
                                            </ul>
                                            <h4>Formations</h4>
                                            <ul>
                                                {% for formation in this.cv.formation %}
                                                    <li>{{ formation.dateDebut|date('d/m/Y') }}
                                                        - {{ formation.dateFin|date('d/m/Y') }}</li>
                                                    <li><strong>{{ formation.diplome }}</strong></li>
                                                    <li>{{ formation.etablissement }}</li>
                                                    <ul class="activites">
                                                        {% for activite in formation.activite %}
                                                            <li>{{ activite }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                    <hr>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <ul>
                                    <li>créé le : {{ this.cv.dateCreation|date('d/m/y H:i') }}</li>
                                    <li>modifié le : {{ this.cv.dateModification|date('d/m/y H:i') }}</li>
                                </ul>
                                <a href="{{ path('app_cv_edit', {'id': this.cv.id}) }}">
                                    <button class="btn btn-primary">Modifier</button>
                                </a>
                                <!-- Button trigger modal -->
                                <a>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop{{ this.cv.id }}">
                                        Supprimer
                                    </button>
                                </a>

                                <a href="">
                                    <button class="btn btn-primary">Ajouter dans un portfolio</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}
