{# templates/components/page_card.html.twig #}

<div class="card m-4">
    <div class="card-body">
        <h3 class="card-title">{{ this.page.intitule }}</h3>

        <h6>Traces associées :</h6>
        {% for trace in this.page.trace %}
            <div class="card m-4">
                <div class="card-body">
                    <h5 class="card-title">{{ trace.titre }}</h5>
                    <p class="card-text">Dernière modification
                        : {{ trace.datemodification is empty ? trace.datecreation|date('d-m-Y H:i') : trace.datemodification|date('d-m-Y H:i') }}</p>
                    <p class="card-text">{{ trace.contenu }}</p>
                    <p class="card-text">{{ trace.description }}</p>
{#                    <a href="{{ path('app_trace_edit', {'id': trace.id}) }}">#}
{#                        <button class="btn btn-primary">Modifier</button>#}
{#                    </a>#}
                </div>
            </div>
        {% endfor %}
                    <a href="{{ path('app_page_edit', {'id': this.page.id}) }}"><button class="btn btn-primary">Modifier</button></a>

    </div>
</div>