{# templates/components/page_card.html.twig #}
{% if '/portfolio' in app.request.uri %}

    <div class="card col-lg-10 col-12">
        <div class="card-body">
            <h3 class="card-title">{{ this.page.intitule }}</h3>
            <div class="card-body">
                <ul>
                    {% for trace in this.page.trace %}
                        <li>{{ trace.titre }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% elseif '/page' in app.request.uri %}

    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <div class="card-content">
                <a class="btn-see">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#showStaticBackdrop{{ this.page.id }}">
                        <i class="fa fa-eye"></i>
                    </button>
                </a>
                <h3 class="card-title">{{ this.page.intitule }}</h3>
                <hr>
                <h6>Traces associées :</h6>
                <ul>
                    {% for trace in this.page.trace %}
                        <li>{{ trace.titre }}</li>
                    {% endfor %}
                </ul>

                <hr>

                <div class="btn_grp">
                    <a href="{{ path('app_page_edit', {'id': this.page.id}) }}">
                        <button class="btn btn-primary">Modifier</button>
                    </a>

                    <!-- Button trigger modal -->
                    <a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{ this.page.id }}">
                            Supprimer
                        </button>
                    </a>

                    <a href="{{ path('app_add_to_page', {'id': this.page.id}) }}">
                        <button class="btn btn-primary">Ajouter des traces</button>
                    </a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop{{ this.page.id }}" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous vraiment supprimer cette page
                                ?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>La page {{ this.page.intitule }} sera supprimée.</p>
                            <p style="color: red">Attention, cette action est irréversible !</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('app_page_delete', {'id': this.page.id}) }}">
                                <button class="btn btn-primary">Supprimer</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 2eme Modal -->
            <div class="modal fade" id="showStaticBackdrop{{ this.page.id }}" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">{{ this.page.intitule }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="display: flex">
                            <div class="trace_content col-12">
                                <h6>Traces associées :</h6>
                                <div class="row">
                                    {% for trace in this.page.trace %}
                                        <div class="card col-5" style="margin: 15px; padding: 15px">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ trace.titre }}</h5>
                                                <ul>
                                                    <li>créée le : {{ trace.dateCreation|date('d/m/y H:i') }}</li>
                                                    <li>modifiée le : {{ trace.dateModification|date('d/m/y H:i') }}</li>
                                                </ul>
                                                {% if 'TraceTypeImage' in trace.typeTrace %}
                                                    <img src="{{ asset(trace.contenu) }}" class="card-img-top" alt="...">

                                                {% elseif 'TraceTypeLien' in trace.typeTrace %}
                                                    <a href="{{ trace.contenu }}" class="card-img-top" target="_blank">Lien vers le contenu</a>

                                                {% elseif 'TraceTypePdf' in trace.typeTrace %}
                                                    <a href="{{ asset(trace.contenu) }}" class="card-img-top" target="_blank">
                                                        <iframe src="{{ asset(trace.contenu) }}" class="card-img-top"></iframe>
                                                    </a>

                                                {% elseif 'TraceTypeVideo' in trace.typeTrace %}
                                                    <iframe width="560" height="auto" src="{{ asset(trace.contenu) }}"
                                                            title="YouTube video player" frameborder="0"
                                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                            allowfullscreen class="card-img-top"></iframe>

                                                {% endif %}
                                                <p>{{ trace.description }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <ul>
                            <h6>Portfolios qui contiennent cette page : </h6>
                            {% for portfolio in this.page.portfolio %}
                                <li>{{ portfolio.intitule }}</li>
                            {% endfor %}
                            </ul>

                            <a href="{{ path('app_page_edit', {'id': this.page.id}) }}">
                                <button class="btn btn-primary">Modifier</button>
                            </a>

                            <!-- Button trigger modal -->
                            <a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop{{ this.page.id }}">
                                    Supprimer
                                </button>
                            </a>

                            <a href="{{ path('app_add_to_page', {'id': this.page.id}) }}">
                                <button class="btn btn-primary">Ajouter dans une page</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}

