<div class="card">
    <div class="card-body">
        <div class="card-header">
            <img src="{{ asset(this.portfolio.banniere) }}" class="card-img-top" alt="...">
        </div>
        <div class="card-content">
            <a class="btn-see" href="{{ path('app_portfolio_index', {'id': this.portfolio.id}) }}">
                <button>
                    <i class="fa fa-eye"></i>
                </button>
            </a>
            <h3 class="card-title">{{ this.portfolio.intitule }}</h3>
            <hr>
            <p>Modifié le : {{ this.portfolio.dateModification|date('d/m/Y') }}</p>

            {% if this.portfolio.visibilite %}
                <p>Public</p>
            {% else %}
                <p>Privé</p>
            {% endif %}

            <div class="btn_grp">
                <a href="{{ path('app_portfolio_process_index', {'id': this.portfolio.id}) }}">
                    <button class="btn btn-primary">Modifier</button>
                </a>

                <!-- Button trigger modal -->
                <a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop{{ this.portfolio.id }}">
                        Supprimer
                    </button>
                </a>
            </div>
        </div>

        <!-- Modal delete -->
        <div class="modal fade" id="staticBackdrop{{ this.portfolio.id }}" data-bs-backdrop="static"
             data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous vraiment supprimer ce portfolio
                            ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Le portfolio {{ this.portfolio.intitule }} sera supprimé, mais les traces qu'il contient seront conservées dans votre bibliothèque.</p>
                        <p style="color: red">Attention, cette action est irréversible !</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <a href="{{ path('app_portfolio_delete', {'id': this.portfolio.id}) }}">
                            <button class="btn btn-primary">Supprimer</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
