<div class="card m-4 col-lg-5 col-12">
    <div class="card-body">
        <h3 class="card-title">{{ this.portfolio.intitule }}</h3>

        <h6>Pages associées :</h6>
        {% for pages in this.portfolio.pages %}
            {{ component('page_card', {'id': pages.id}) }}
        {% endfor %}

{#        <a href="{{ path('app_page_edit', {'id': this.page.id}) }}">#}
{#            <button class="btn btn-primary">Modifier</button>#}
{#        </a>#}

{#        <!-- Button trigger modal -->#}
{#        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">#}
{#            Supprimer#}
{#        </button>#}

{#        <a href="{{ path('app_add_to_page', {'id': this.page.id}) }}">#}
{#            <button class="btn btn-primary">Ajouter des traces</button>#}
{#        </a>#}

{#        <!-- Modal -->#}
{#        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">#}
{#            <div class="modal-dialog">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous vraiment supprimer cette page ?</h5>#}
{#                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <p>La page {{ this.page.intitule }} sera supprimée.</p>#}
{#                        <p style="color: red">Attention, cette action est irréversible !</p>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>#}
{#                        <a href="{{ path('app_page_delete', {'id': this.page.id}) }}">#}
{#                            <button class="btn btn-primary">Supprimer</button>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</div>
