<div class="card">
    <div class="card-body">
        <div class="card-header">
            <img src="{{ this.portfolio.banniere }}" class="card-img-top" alt="...">
        </div>
        <div class="card-content">
            <a class="btn-see">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#showStaticBackdrop{{ this.portfolio.id }}">
                    <i class="fa fa-eye"></i>
                </button>
            </a>
            <h3 class="card-title">{{ this.portfolio.intitule }}</h3>
            <hr>
            <p>Modifié le : {{ this.portfolio.dateModification|date('d/m/Y') }}</p>

            {% if this.portfolio.visibilite %}
                <p>Public</p>
            {% else %}
                <p>Privé</p>
            {% endif %}

            <div class="btn_grp">
                <a href="{{ path('app_portfolio_process_index', {'id': this.portfolio.id}) }}">
                    <button class="btn btn-primary">Modifier</button>
                </a>

                <!-- Button trigger modal -->
                <a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop{{ this.portfolio.id }}">
                        Supprimer
                    </button>
                </a>
            </div>
        </div>

        <!-- Modal delete -->
        <div class="modal fade" id="staticBackdrop{{ this.portfolio.id }}" data-bs-backdrop="static"
             data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous vraiment supprimer ce portfolio
                            ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Le portfolio {{ this.portfolio.intitule }} sera supprimé.</p>
                        <p style="color: red">Attention, cette action est irréversible !</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <a href="{{ path('app_portfolio_delete', {'id': this.portfolio.id}) }}">
                            <button class="btn btn-primary">Supprimer</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal visu -->
        <div class="modal fade modal-portfolio" id="showStaticBackdrop{{ this.portfolio.id }}" data-bs-backdrop="static"
             data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="banner" style="background-image: url({{ this.portfolio.banniere }});">
                        </div>
                        <div class="title">
                            <h5 class="modal-title" id="staticBackdropLabel">{{ this.portfolio.intitule }}</h5>
                        </div>
                        <div class="pages">
                            {% for pages in this.portfolio.pages|sort((a,b)=> a.ordrePage.ordre <=> b.ordrePage.ordre) %}
                                {{ component('page_card', {'id': pages.id}) }}
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
