<div{{ attributes }}>
    <section class="row">
        <div class="row">
            <h2 class="col-8">Edition d'un nouveau portfolio personnel</h2>
        </div>
        <aside class="col-2 g-4 border">
            {{ form_start(this.form) }}
            {{ form_row(this.form.intitule) }}
            {{ form_row(this.form.visibilite) }}
            {{ form_end(this.form) }}
            <hr>
            <a href="{{ path('app_portfolio_perso_new_page', {'id': this.portfolio.id}) }}">
                <button class="btn btn-primary">
                    Ajouter une page
                </button>
            </a>
        </aside>

        <article class="col-10 g-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for page in this.pages %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="tab-{{ page.id }}"
                           data-bs-toggle="tab" href="#content-{{ page.id }}" role="tab"
                           aria-controls="content-{{ page.id }}" aria-selected="true">{{ page.id }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="border">
                <div class="tab-content" id="myTabContent">
                    {% for page in this.pages %}
                        <div class="tab-pane fade m-2 {% if loop.first %}show active{% endif %}"
                             id="content-{{ page.id }}" role="tabpanel" aria-labelledby="tab-{{ page.id }}">

                            {% for bloc in page.blocs|sort((a, b) => a.ordre <=> b.ordre) %}
                                {#                                {{ include('components/editeur/_bloc.html.twig') }} #}
                                <div class="row m-4 border bloc">
                                    <div class="bloc-header">
                                        <button class="btn btn-light" type="button" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasScrolling{{ bloc.id }}"
                                                aria-controls="offcanvasScrolling">
                                            <i class="fa fa-cog"></i></button>
                                        {% if bloc.ordre != 1 %}
                                            <button class="btn btn-light"
                                                    data-action="live#action live#$refresh"
                                                    data-action-name="upBloc(blocId={{ bloc.id }}, pageId={{ page.id }})">
                                                <i class="fa fa-arrow-up"></i>
                                            </button>
                                        {% endif %}
                                        {% if bloc.ordre != page.blocs|length %}
                                            <a href="{{ path('app_portfolio_perso_bloc_down', {'portfolioId': this.portfolio.id, 'id': bloc.id, 'pageId': page.id}) }}">
                                                <button class="btn btn-light"
                                                        data-action="live#action live#$refresh"
                                                        data-action-name="downBloc(blocId={{ bloc.id }}, pageId={{ page.id }})">
                                                    <i class="fa fa-arrow-down"></i>
                                                </button>
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('app_portfolio_perso_delete_bloc', {'id': bloc.id, 'portfolioId': this.portfolio.id}) }}">
                                            <button class="btn btn-danger">
                                                <i class="fa fa-minus-square"></i>
                                            </button>
                                        </a>
                                    </div>
                                    {{ component('BlocComponent', {'id': bloc.id, 'page': page, 'portfolio': this.portfolio, 'key': bloc.ordre ~ random()}) }}
                                </div>
                            {% endfor %}

                            <div class="row g-4 justify-content-center">
                                <a href="{{ path('app_portfolio_perso_new_bloc', {'id': page.id}) }}"
                                   class="col-10 border">
                                    <i class="fas fa-plus-circle"></i>
                                    <br>
                                    <small class="text-muted">
                                        Ajouter un nouveau bloc
                                    </small>
                                </a>
                            </div>

                        </div>
                    {% endfor %}
                </div>


            </div>
        </article>
    </section>
</div>
