<tr>
    <td>{{ this.trace.titre }}</td>
    <td>{{ this.trace.typeTrace }}</td>
    <td>
        {% for validation in this.trace.validations %}
            {% if validation.etat == 0 %} <i class="fa-solid fa-hourglass-half" style="color: darkblue"></i>
            {% elseif validation.etat == 1 %} <i class="fa-solid fa-xmark" style="color: red"></i>
            {% elseif validation.etat == 2 %} <i class="fa-solid fa-arrow-up" style="color: orange"></i>
            {% elseif validation.etat == 3 %} <i class="fa-solid fa-check" style="color: limegreen"></i>
            {% endif %}<br>
        {% endfor %}
        {#        {{ this.trace.validations }} #}
    </td>
    <td>
        {% for validation in this.trace.validations %}
            {{ validation.competences.nomCourt }}
        {% endfor %}
    </td>
    <td>{{ this.trace.bibliotheque.etudiant.prenom }} {{ this.trace.bibliotheque.etudiant.nom }}</td>
</tr>