{# templates/components/trace_card.html.twig #}
{% if '/page' in app.request.uri %}
    <div class="card col-11">
        <div class="card-body">
            <h5 class="card-title">{{ this.trace.titre }}</h5>
            {% if 'TraceTypeImage' in this.trace.typeTrace %}
                <img src="{{ asset(this.trace.contenu) }}" class="card-img-top" alt="...">

            {% elseif 'TraceTypeLien' in this.trace.typeTrace %}
                <a href="{{ this.trace.contenu }}" class="card-img-top" target="_blank">Lien vers le contenu</a>

            {% elseif 'TraceTypePdf' in this.trace.typeTrace %}
                <a href="{{ asset(this.trace.contenu) }}" class="card-img-top" target="_blank">
                    <iframe src="{{ asset(this.trace.contenu) }}" class="card-img-top"></iframe>
                </a>

            {% elseif 'TraceTypeVideo' in this.trace.typeTrace %}
                <iframe width="560" height="auto" src="{{ asset(this.trace.contenu) }}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen class="card-img-top"></iframe>

            {% endif %}
        </div>
    </div>
{% elseif '/trace' in app.request.uri %}
    <div class="card" style="width: 20rem;">
        <div class="card-body">

            <div class="card-content">
                <a class="btn-see">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#showStaticBackdrop{{ this.trace.id }}">
                        <i class="fa fa-eye"></i>
                    </button>
                </a>
                <h5 class="card-title">{{ this.trace.titre }} -
                    {% if 'TraceTypeImage' in this.trace.typeTrace %}
                        {{ this.trace.typeTrace|split('TraceType')|last }}
                    {% elseif 'TraceTypeLien' in this.trace.typeTrace %}
                        {{ this.trace.typeTrace|split('TraceType')|last }}
                    {% elseif 'TraceTypePdf' in this.trace.typeTrace %}
                        {{ this.trace.typeTrace|split('TraceType')|last }}
                    {% elseif 'TraceTypeVideo' in this.trace.typeTrace %}
                        {{ this.trace.typeTrace|split('TraceType')|last }}
                    {% endif %}
                </h5>
                <hr>

                <ul>
                    <li>
                        Compétence A <span><i class="fa fa-check"></i></span>
                    </li>
                    <li>
                        Compétence B <span><i class="fa fa-xmark"></i></span>
                    </li>
                </ul>

                <hr>
                <p class="card-text">modifié le
                    : {{ this.trace.datemodification is empty ? this.trace.datecreation|date('d-m-Y H:i') : this.trace.datemodification|date('d-m-Y H:i') }}</p>
                <p class="card-text">{{ this.trace.description }}</p>

                <div class="btn_grp">
                    <a href="{{ path('app_trace_edit', {'id': this.trace.id}) }}">
                        <button class="btn btn-primary">Modifier</button>
                    </a>

                    <!-- Button trigger modal -->
                    <a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{ this.trace.id }}">
                            Supprimer
                        </button>
                    </a>

                    <a href="{{ path('app_add_trace_to_page', {'id': this.trace.id}) }}">
                        <button class="btn btn-primary">Ajouter dans une page</button>
                    </a>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop{{ this.trace.id }}" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous vraiment supprimer cette trace
                                ?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>La trace {{ this.trace.titre }} sera supprimée.</p>
                            <p style="color: red">Attention, cette action est irréversible !</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('app_trace_delete', {'id': this.trace.id}) }}">
                                <button class="btn btn-primary">Supprimer</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2eme Modal -->
            <div class="modal fade" id="showStaticBackdrop{{ this.trace.id }}" data-bs-backdrop="static"
                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">{{ this.trace.titre }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="display: flex">
                            <div class="trace_content col-7">
                                {% for contenu in this.trace.contenu %}
                                {% if 'TraceTypeImage' in this.trace.typeTrace %}
                                    <img src="/{{ contenu }}" alt="image" style="width: 100%">
                                {% elseif 'TraceTypeLien' in this.trace.typeTrace %}
                                    <a href="{{ contenu }}">
                                        <button>{{ contenu }}</button>
                                    </a>
                                {% elseif 'TraceTypePdf' in this.trace.typeTrace %}
                                    <iframe src="{{ contenu }}" width="100%" height="300"
                                            frameborder="0">{{ contenu }}</iframe>
                                {% elseif 'TraceTypeVideo' in this.trace.typeTrace %}
                                    <iframe width="100%" height="300" src="{{ contenu }}"
                                            title="Video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            allowfullscreen></iframe>
                                {% endif %}
                                {% endfor %}
                                <p>
                                    {{ this.trace.description }}
                                </p>
                            </div>
                            <div class="trace_competences col-5">
                                <h3>Compétences</h3>
                                <ul>
                                    <li>
                                        Compétence A <span><i class="fa fa-check"></i></span>
                                    </li>
                                    <li>
                                        Compétence B <span><i class="fa fa-xmark"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <a href="{{ path('app_trace_edit', {'id': this.trace.id}) }}">
                                <button class="btn btn-primary">Modifier</button>
                            </a>

                            <!-- Button trigger modal -->
                            <a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop{{ this.trace.id }}">
                                    Supprimer
                                </button>
                            </a>

                            <a href="{{ path('app_add_trace_to_page', {'id': this.trace.id}) }}">
                                <button class="btn btn-primary">Ajouter dans une page</button>
                            </a>

                            <ul>
                                <li>créée le : {{ this.trace.dateCreation|date('d/m/y H:i') }}</li>
                                <li>modifiée le : {{ this.trace.dateModification|date('d/m/y H:i') }}</li>
                            </ul>
                            {% for page in this.trace.pages %}
                                {% for portfolio in page.portfolio %}
                                    {{ portfolio.intitule }} - {{ page.intitule }}
                                    <br>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% elseif '/portfolio' in app.request.uri %}
<h5>{{ this.trace.titre }}</h5>
    <div class="trace_content col-12">
        {% for contenu in this.trace.contenu %}
            {% if 'TraceTypeImage' in this.trace.typeTrace %}
                <img src="/{{ contenu }}" alt="image" style="width: 100%">
            {% elseif 'TraceTypeLien' in this.trace.typeTrace %}
                <a href="{{ contenu }}">
                    <button>{{ contenu }}</button>
                </a>
            {% elseif 'TraceTypePdf' in this.trace.typeTrace %}
                <iframe src="{{ contenu }}" width="100%" height="300"
                        frameborder="0">{{ contenu }}</iframe>
            {% elseif 'TraceTypeVideo' in this.trace.typeTrace %}
                <iframe width="100%" height="300" src="{{ contenu }}"
                        title="Video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            {% endif %}
        {% endfor %}
        <p>
            {{ this.trace.description }}
        </p>
    </div>
{% endif %}
