<div class="col-12">
    <div class="card d-flex flex-column card-etudiant">
        <div class="row ">
            <div class="col-9">
                <div class="card-header">
                    <h5>{{ this.trace.titre }}</h5>
                    <ul class="card-infos-min">
                        <li><span>Publié le :&nbsp;</span> {{ this.trace.datecreation|date('d-m-y') }}</li>
                        {% if this.trace.ordreTrace != null %}
                            {% for portfolio in this.trace.ordreTrace.page.portfolio %}
                                <li>•</li>
                                <li><span>Portfolio :&nbsp;</span> {{ portfolio.intitule }}</li>
                            {% endfor %}
                            <li>•</li>
                            <li><span>Page :&nbsp;</span> {{ this.trace.ordreTrace.page.intitule }}</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-body dashboard-competences-container">
                    <ul class="dashboard-competences">
                        {% for index, validation in this.trace.validations %}
                            <li>
                                <div> <span class="{{ validation.apcNiveau.competences.couleur }}">{{ validation.apcNiveau.competences.nomCourt }} </span>
                                    •
                                {{ validation.apcNiveau.libelle }}
                                </div>
                                {% if validation.etat == 0 %} <i class="fa-solid fa-hourglass-half"
                                                                 style="color: #4c008b"></i>
                                {% elseif validation.etat == 1 %} <i class="fa-solid fa-xmark" style="color: red"></i>
                                {% elseif validation.etat == 2 %} <i class="fa-solid fa-arrow-up"
                                                                     style="color: orange"></i>
                                {% elseif validation.etat == 3 %} <i class="fa-solid fa-check"
                                                                     style="color: limegreen"></i>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card-body col-3">
                <div class="btn-group">
                    <a href="{{ path('app_trace_index', {'id': this.trace.id}) }}">
                        <button class="btn btn-primary">Accéder à la trace</button>
                    </a>
                    <a href="{{ path('app_trace_edit', {'id': this.trace.id}) }}">
                        <button class="btn btn-secondary">Modifier</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
