{# templates/components/trace_card.html.twig #}

<div class="card col-10">
    <div class="card-body">
        <h5 class="card-title">{{ this.trace.titre }}</h5>
        <p class="card-text">Dernière modification
            : {{ this.trace.datemodification is empty ? this.trace.datecreation|date('d-m-Y H:i') : this.trace.datemodification|date('d-m-Y H:i') }}</p>

        {% if 'TraceTypeImage' in this.trace.typeTrace %}
            <img src="{{ asset(this.trace.contenu) }}" class="card-img-top" alt="...">

        {% elseif 'TraceTypeLien' in this.trace.typeTrace %}
            <a href="{{ this.trace.contenu }}" class="card-img-top">Lien vers le contenu</a>

        {% elseif 'TraceTypePdf' in this.trace.typeTrace %}
            <a href="{{ asset(this.trace.contenu) }}" class="card-img-top" target="_blank"><iframe src="{{ asset(this.trace.contenu) }}" class="card-img-top"></iframe></a>

            {% elseif 'TraceTypeVideo' in this.trace.typeTrace %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/qJK_9eyRQl8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen  class="card-img-top"></iframe>

        {% endif %}

        <p class="card-text">{{ this.trace.description }}</p>

        {% if '/trace' in app.request.uri %}
        <a href="{{ path('app_trace_edit', {'id': this.trace.id}) }}">
            <button class="btn btn-primary">Modifier</button>
        </a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ this.trace.id }}">
                Supprimer
            </button>

            <a href="{{ path('app_add_trace_to_page', {'id': this.trace.id}) }}">
            <button class="btn btn-primary">Ajouter dans une page</button>
        </a>


            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop{{ this.trace.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous vraiment supprimer cette trace ?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>La trace {{ this.trace.titre }} sera supprimée.</p>
                            <p style="color: red">Attention, cette action est irréversible !</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('app_trace_delete', {'id': this.trace.id}) }}">
                                <button class="btn btn-primary">Supprimer</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>
