<div class="accordion accordion-flush" id="accordionFlushExample" style="margin: 25px 0 0 0;">
    <div class="accordion-item" style="box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">
        <h2 class="accordion-header" id="flush-heading{{ this.trace.id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ this.trace.id }}" aria-expanded="false" aria-controls="flush-collapse{{ this.trace.id }}">

                <div class="col-11">
                    <h5>{{ this.trace.titre }}</h5>
                    <p>{{ this.trace.bibliotheque.etudiant.prenom }} {{ this.trace.bibliotheque.etudiant.nom }}</p>
                    <small>Dernière modification le : {{ this.trace.datemodification is empty ? this.trace.datecreation|date('d-m-Y H:i') : this.trace.datemodification|date('d-m-Y H:i') }}
                    </small>
                    <hr>

                    <ul>
                        {% for validation in this.trace.validations %}
                            <li>
                                {{ validation.apcNiveau.libelle }}
                                {% if validation.etat == 0 %} <i class="fa-solid fa-hourglass-half" style="color: #4c008b"></i>
                                {% elseif validation.etat == 1 %} <i class="fa-solid fa-xmark" style="color: red"></i>
                                {% elseif validation.etat == 2 %} <i class="fa-solid fa-arrow-up" style="color: orange"></i>
                                {% elseif validation.etat == 3 %} <i class="fa-solid fa-check" style="color: limegreen"></i>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                </div>

            </button>
        </h2>
        <div id="flush-collapse{{ this.trace.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ this.trace.id }}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
    </div>
</div>