{% extends 'base.html.twig' %}

{% block title %}Portfolio création{% endblock %}

    {% block header %}
        {% include "_menu.html.twig" %}
    {% endblock %}

{% block body %}

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_portfolio') }}">Bibliothèque de portfolios</a></li>
        </ol>
    </nav>
    <div class="container">
        <section class="portfolio_form">
            <div class="row">
                <article class="col-lg-12 col-12">

                    <div {{ stimulus_controller('creation', { url: path('app_portfolio_process_step', {id:id})}) | stimulus_controller('page', { url: path('app_portfolio_process_step', {id:id}) }) | stimulus_controller('trace', { url: path('app_portfolio_process_step', {id:id}) }) }}>

                        <div {{ stimulus_target('creation', 'stepZone') }}{{ stimulus_target('page', 'stepZone') }}{{ stimulus_target('trace', 'stepZone') }}>

                        </div>
                    </div>
                </article>
                <button class="btn-primary"><a href="{{ path('app_portfolio') }}">Enregistrer le portfolio</a></button>
            </div>
        </section>
    </div>

{% endblock %}
