<ul class="nav nav-tabs" {{ stimulus_target('creation', 'navTabs') }}>

    <li class="nav-item" {{ stimulus_action('creation', 'changeStep', 'click', {step: 'portfolio'}) }}>
        <a class="nav-link {% if step == 'portfolio' %} active {% endif %}" aria-current="page" href="#">Portfolio</a>
    </li>

    {% if pages is not null %}
        {% for pageA in pages|sort((a, b) => a.ordrePage.ordre <=> b.ordrePage.ordre) %}
        <li class="nav-item" value="{{ pageA.id }}" {{ stimulus_action('creation', 'addPage', 'click') }} >
            <a class="nav-link {% if (step == 'addPage' or step =='editPage' or step == 'editTrace' or step == 'formTrace') and pageA.id == page.id%} active {% endif %}" aria-current="page"
               href="#">{{ pageA.intitule }}</a>
        </li>
        {% endfor %}
    {% endif %}

    <li class="nav-item" {{ stimulus_action('creation', 'changeStep', 'click', {step: 'addPage'}) }}>
        <a class="nav-link {% if step == 'page' %} active {% endif %}" href="#">Ajouter une page</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_portfolio') }}">Enregistrer et quitter</a>
    </li>

</ul>
