{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    <button class="btn btn-primary">{{ button_label|default('Créer mon compte') }}</button>
{{ form_end(form) }}
