<div class="row m-4 p-2 border border-2">
    <button class="btn btn-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling{{ bloc.id }}" aria-controls="offcanvasScrolling">
        <i class="fa fa-cog"></i></button>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true"
         data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling{{ bloc.id }}"
         aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Paramètres du
                bloc</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h6>Alignements</h6>
            <a href="{{ path('app_portfolio_perso_bloc_justify', {'portfolioId': portfolio.id, 'id': bloc.id, 'justify': 'justify-content-start'}) }}">
                <button class="btn"><i
                            class="fa-solid fa-objects-align-left fa-xl"></i>
                </button>
            </a>
            <a href="{{ path('app_portfolio_perso_bloc_justify', {'portfolioId': portfolio.id, 'id': bloc.id, 'justify': 'justify-content-end'}) }}">
                <button class="btn"><i
                            class="fa-solid fa-objects-align-right fa-xl"></i>
                </button>
            </a>
            <a href="{{ path('app_portfolio_perso_bloc_justify', {'portfolioId': portfolio.id, 'id': bloc.id, 'justify': 'justify-content-around'}) }}">
                <button class="btn"><i
                            class="fa-solid fa-objects-align-center-horizontal fa-xl"></i>
                </button>
            </a>
            <a href="{{ path('app_portfolio_perso_bloc_direction', {'portfolioId': portfolio.id, 'id': bloc.id, 'direction': 'flex-row'}) }}">
                <button class="btn"><i class="fa-solid fa-objects-column fa-xl"></i><i
                            class="fa-solid fa-arrow-right fa-xs"></i></button>
            </a>
            <a href="{{ path('app_portfolio_perso_bloc_direction', {'portfolioId': portfolio.id, 'id': bloc.id, 'direction': 'flex-column'}) }}">
                <button class="btn"><i class="fa-solid fa-objects-column fa-xl"></i><i
                            class="fa-solid fa-arrow-down fa-xs"></i></button>
            </a>
            <hr>
            <h6>Couleurs</h6>
            <a href="#" style="display:flex; align-items: center; width: fit-content">
                <div style="width: 25px; height: 25px; border-radius: 50%; border: solid 1px grey"></div>
                <button class="btn">Texte</button>
            </a>
            <a href="#" style="display:flex; align-items: center; width: fit-content">
                <div style="width: 25px; height: 25px; border-radius: 50%; border: solid 1px grey"></div>
                <button class="btn">Arrière plan</button>
            </a>
            <hr>
            <h6>Typographie</h6>
            <a href="{{ path('app_portfolio_perso_bloc_font_size', {'portfolioId': portfolio.id, 'id': bloc.id, 'fontSize': '13px'}) }}">
                <button class="btn"><i class="fa-solid fa-text fa-xs"></i>
                    <br>
                    13px
                </button>
            </a>
            <a href="{{ path('app_portfolio_perso_bloc_font_size', {'portfolioId': portfolio.id, 'id': bloc.id, 'fontSize': '16px'}) }}">
                <button class="btn"><i class="fa-solid fa-text fa-sm"></i>
                    <br>
                    16px
                </button>
            </a>
            <a href="{{ path('app_portfolio_perso_bloc_font_size', {'portfolioId': portfolio.id, 'id': bloc.id, 'fontSize': '20px'}) }}">
                <button class="btn"><i class="fa-solid fa-text fa-l"></i>
                    <br>
                    20px
                </button>
            </a>
            <a href="{{ path('app_portfolio_perso_bloc_font_size', {'portfolioId': portfolio.id, 'id': bloc.id, 'fontSize': '25px'}) }}">
                <button class="btn"><i class="fa-solid fa-text fa-xl"></i>
                    <br>
                    25px
                </button>
            </a>
        </div>
    </div>
    <div class="row g-2 {{ bloc.justify }} {{ bloc.direction }} align-items-center">
        {% for element in bloc.elements %}
            {% set abstractElement = get_abstract_element(element.type) %}

            <div class="{{ element.colonne }} border p-4">
                <button class="btn btn-light" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasScrolling{{ element.id }}{{ element.bloc.id }}"
                        aria-controls="offcanvasScrolling"><i class="fa fa-cog"></i></button>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                     id="offcanvasScrolling{{ element.id }}{{ element.bloc.id }}"
                     aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Paramètre de l'élément
                            {% if 'Paragraphe' in element.type %}
                                paragraphe
                            {% elseif 'Image' in element.type %}
                                image
                            {% endif %}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <h6>Proportions</h6>
                        <a href="{{ path('app_portfolio_perso_element_col', {'portfolioId': portfolio.id, 'id': element.id, 'col': 3}) }}">1/4</a>
                        <a href="{{ path('app_portfolio_perso_element_col', {'portfolioId': portfolio.id, 'id': element.id, 'col': 6}) }}">1/2</a>
                        <a href="{{ path('app_portfolio_perso_element_col', {'portfolioId': portfolio.id, 'id': element.id, 'col': 9}) }}">3/4</a>
                        <a href="{{ path('app_portfolio_perso_element_col', {'portfolioId': portfolio.id, 'id': element.id, 'col': 12}) }}">1/1</a>
                    </div>
                </div>

                <a href="{{ path('app_portfolio_perso_delete_element', {'id': element.id, 'portfolioId': portfolio.id}) }}">
                    <button class="btn btn-danger">
                        <i class="fa fa-minus-square"></i>
                    </button>
                </a>


                {% if element.edit == true %}
                    <form action="{{ path('app_portfolio_perso_save_element', {'id': element.id, 'portfolioId': portfolio.id}) }}"
                          method="post"
                          {% if 'Image' in element.type %}enctype="multipart/form-data"{% endif %}>

                        {{ element_form_render(abstractElement) }}
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check-square"></i>
                        </button>
                    </form>
                {% else %}
                    {{ element_render(abstractElement, element) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div type="button" data-bs-toggle="offcanvas"
         data-bs-target="#offCanva{{ bloc.id }}"
         aria-controls="offCanva{{ bloc.id }}"
         class="col-6 border">
        <i class="fas fa-plus-circle"></i>
        <br>
        <small class="text-muted">
            Ajouter un nouvel élément
        </small>
    </div>
    <button class="btn btn-danger">
        <i class="fa fa-minus-square"></i>
    </button>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
     id="offCanva{{ bloc.id }}"
     aria-labelledby="offCanva{{ bloc.id }}Label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offCanva{{ bloc.id }}Label">Elements</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% for key, element in elements %}
            <a href="{{ path('app_portfolio_perso_new_element', {'id': portfolio.id, 'element': key, 'blocId': bloc.id}) }}">
                <button class="btn">
                    <i class="{{ constant(key ~ '::ICON') }} fa-xl"></i>
                    <br>
                    {{ element.name }}
                </button>
            </a>
        {% endfor %}
    </div>
</div>