{% block type_paragraphe %}
    <p
            style="
            {% if elementEntity.font_size is not defined %}
                    font-size: {{ elementEntity.bloc.fontSize }} ;
            {% else %}
                    font-size: {{ elementEntity.font_size }} ;
            {% endif %}
            {% if elementEntity.align is not defined %}
                    text-align: left;
            {% else %}
                    text-align: {{ elementEntity.align }} ;
            {% endif %}
                    "
    >
        {{ elementEntity.contenu }}
    </p>
{% endblock %}

{% block type_image %}
    <div>
        <img src="{{ asset(elementEntity.contenu) }}" alt="image" class="img-fluid">
    </div>
{% endblock %}

{% block type_titre %}
    <{{ elementEntity.titleLvl }}
    style="
    {% if elementEntity.align is not defined %}
        text-align: left;
    {% else %}
        text-align: {{ elementEntity.align }} ;
    {% endif %}
    ">
    {{ elementEntity.contenu }}
    </{{ elementEntity.titleLvl }}>
{% endblock %}

{% block type_liste %}
<ul>
    {% for listeElement in elementEntity.contenuArray %}
        <li>{{ listeElement }}</li>
    {% endfor %}
</ul>
{% endblock %}