{% block type_paragraphe %}
    <p
            {% if elementEntity.font_size is not defined %}
                style="font-size: {{ elementEntity.bloc.fontSize }}"
            {% else %}
                style="font-size: {{ elementEntity.font_size }}"
            {% endif %}
    >
        {{ elementEntity.contenu }}
    </p>
{% endblock %}

{% block type_image %}
    <div>
        <img src="{{ asset(elementEntity.contenu) }}" alt="image" class="img-fluid">
    </div>
{% endblock %}

{% block type_titre %}
    <{{ elementEntity.titleLvl }}>
        {{ elementEntity.contenu }}
    </{{ elementEntity.titleLvl }}>
{% endblock %}