{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ETUDIANT') %}
    <h1>Etudiant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Mail_perso</th>
                <th>Mail_univ</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.mailPerso }}</td>
                <td>{{ etudiant.mailUniv }}</td>
                <td>
                    <a href="{{ path('app_profil', {'id': etudiant.id}) }}">show</a>
                    <a href="{{ path('app_profil_edit_edit', {'id': etudiant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
    {% if is_granted('ROLE_ENSEIGNANT') %}

        <h1>Enseignant index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Mail_perso</th>
                <th>Mail_univ</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for enseignant in enseignants %}
                <tr>
                    <td>{{ enseignant.id }}</td>
                    <td>{{ enseignant.prenom }}</td>
                    <td>{{ enseignant.nom }}</td>
                    <td>{{ enseignant.mailPerso }}</td>
                    <td>{{ enseignant.mailUniv }}</td>
                    <td>
                        <a href="{{ path('app_profil', {'id': enseignant.id}) }}">show</a>
                        <a href="{{ path('app_profil_edit_edit', {'id': enseignant.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
    {% endif %}

    <a href="{{ path('app_profil_edit_new') }}">Create new</a>
{% endblock %}
